
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Materialize is a Material Design Admin Template,It's modern, responsive and based on Material Design by Google. ">
    <meta name="keywords" content="materialize, admin template, dashboard template, flat admin template, responsive admin template,">
    <title>Çeviri Dükkanı | Admin</title>
    <!-- Favicons-->
    
    <link rel="icon" href="~/Areas/Admin/Theme/images/favicon/favicon.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Theme/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->

    <link href="~/Areas/Admin/Theme/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- Custome CSS-->
    <link href="~/Areas/Admin/Theme/css/custom/custom.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/css/layouts/page-center.css" type="text/css" rel="stylesheet" media="screen,projection">
    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="~/Areas/Admin/Theme/js/plugins/prism/prism.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/Theme/js/plugins/perfect-scrollbar/perfect-scrollbar.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/Areas/Admin/css/validate.css" rel="stylesheet" />
</head>
<body class="cyan">
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <div id="login-page" class="row">
        <div class="col s12 z-depth-4 card-panel">
            <form class="login-form" id="login-form" action="/Admin/Account/Login" method="post">
                <div class="row">
                    <div class="input-field col s12 center">
                        <img src="~/Areas/Admin/Theme/images/cd-logo.png" alt="" class="responsive-img valign">
                        <p class="center login-form-text">CeviriDukkani Admin Panel</p>
                        <p>@ViewBag.Error</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input id="email" type="email" name="email"  data-error=".errorTxt1">
                        <label for="email" >Email</label>
                        <div class="errorTxt1" style="margin-left: 3rem;"></div>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <i class="mdi-action-lock-outline prefix"></i>
                        <input id="password" type="password" name="password"  data-error=".errorTxt2">
                        <label for="password">Şifre</label>
                        <div class="errorTxt2" style="margin-left: 3rem;"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12 l12  login-text">
                        <input type="checkbox" id="remember-me" />
                        <label for="remember-me">Beni Hatırla</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button id="btnSave" class="btn waves-effect waves-light right submit" type="submit">
                            Giriş
                            <i class="mdi-content-send right"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6 m6 l6">
                        @*<p class="margin medium-small"><a href="page-register.html">Register Now!</a></p>*@
                    </div>
                    <div class="input-field col s6 m6 l6">
                        @*<p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>*@
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- ================================================
      Scripts
      ================================================ -->
    <!-- jQuery Library -->
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/jquery-1.11.2.min.js"></script>
    <!--materialize js-->
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/materialize.js"></script>
    <!--prism-->
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/prism/prism.js"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/Areas/Admin/Theme/js/plugins.js"></script>
    <!--custom-script.js - Add your own theme custom JS-->
    <script src="~/Areas/Admin/Theme/js/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript" src="~/Areas/Admin/Theme/js/custom-script.js"></script>
<script>
    $(function () {
        if ($("#password").val().length > 0) {
            $("label[for='password']").addClass("active");
        }
        if ($("#email").val().length > 0) {
            $("label[for='email']").addClass("active");
        }
        $("#login-form").validate({
            rules: {
                password: {
                    required: true
                },
                email: {
                    required: true,
                    email: true
                }
            },
            //For custom messages
            messages: {
                Name: {
                    required: "Enter a username",
                }
            },
            errorElement: 'div',
            errorPlacement: function (error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error);
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
</body>
</html>
