
@{
    ViewBag.Title = "Hakkımızda | Çeviri Dükkanı";
}

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300|Open+Sans:400,300,700,600|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    <script>
        $(function() {
            $('#ms').multipleSelect();
            $('#ms2').multipleSelect();
	        $('.tooltip').tooltipster({
	             contentAsHTML: true,
	             interactive: true,
	             content: $('<div style="width:180px; padding:5px; border-bottom:1px solid #000;"><a href="/#yeniis">Yeni Çeviri Gönder</a></div><div style="width:180px; padding:5px; border-bottom:1px solid #000;"><a href="/bireysel/Kullanici-Paneli">Kullanıcı Panelim</a></div><div style="width:180px; padding:5px; border-bottom:1px solid #000;"><a href="/bireysel/Profil-Bilgilerim">Profil Bilgileri</a></div><div style="width:180px; padding:5px;"><a href="/bireysel/Sifre-Degistir">Şifre Değiştir</a></div>')
	         });
	     });
    </script>

    <div class="clear"></div>
    <h1 class="ortala" style="color:#7f7f7f">ÇEVİRİ DÜKKANI HAKKINDA</h1>
    <br />
    <div class="ortala">

        <div style="margin-bottom:50px; width:260px; padding:60px 0 0 20px; line-height:30px; height:214px; color:#fff; font-size:25px; float:left; background-color:#00d4e1">
            <div class="nasil-calisiyoruz-daire" style="position:absolute; margin-left:-55px; margin-top:-90px;">1</div>
            18 senedir iş çeviriyoruz!
        </div>
        <div style="margin-bottom:50px; float:left; width:238px; height:214px; margin-right:20px;">
            <img src="/Content/images/nasil1.png">
        </div>
        <div style="margin-bottom:50px; float:left; width:440px;">
            <p>2014 yılında kurulan Çeviri Dükkanı’nın çeviri konusundaki deneyimi 18 sene öncesine dayanıyor.</p>
            <p>AIM Danışmanlık uzmanlığı ile kurulan Çeviri Dükkanı, yılların çeviri tecrübesini kullanarak işlerinizi kaliteli ve mümkün olan en süratli şekilde size teslim ediyor!</p>
            <p>Türkiye’de çeviri alanında lider olan AIM Danışmanlık, birçok kurumsal firmaya profesyonel çeviri hizmeti vermektedir. </p>
            <p>En büyük global ve yerel markaların öncelikli tercihi olan AIM Danışmanlık, yılların tecrübesini şimdi de Çeviri Dükkanı’na aktarıyor ve kaliteli çeviriyi daha hızlı ve erişilebilir hale getiriyor.</p>
            
        </div>

        <div class="clear"></div>

        <div style="margin-bottom:50px; float:left; width:440px;">
            <p>Çeviri ve iş dünyasındaki teknolojik gelişmeleri yakından inceleyen Çeviri Dükkanı, her dilde ve her konuda uzman bir çevirmen kadrosu ile projeleri özenle inceliyor ve kaliteden ödün vermeden 2 saat içerisinde* teslim ediyor. Alanında uzman yeminli çevirmenler ile çalışan Çeviri Dükkanı, çevirilerinizin kalite kontrol araçları ve uzman çevirmenlerce kontrolünü sağlıyor; isteğiniz doğrultusunda teslim etmeden önce noter onayına sunuyor.</p><br />
            <p>Çeviri Dükkanı, çeviri yükleme platformu ile çevirmek istediğiniz dosyanın fiyatını anında görmenizi sağlıyor; böylece kendi maliyet hesabınızı yapma olanağı veriyor.</p>
            
        </div>

        <div style="margin-bottom:50px; float:left; width:238px; height:214px; margin-left:20px;">
            <img src="/content/images/nasil2.png">
        </div>

        <div style="margin-bottom:50px; width:260px; padding:65px 0 0 20px; line-height:30px; height:214px; color:#fff; font-size:25px; float:left; background-color:#00d4e1">
            <div class="nasil-calisiyoruz-daire" style="position:absolute; margin-left:205px; margin-top:-95px;">2</div>
            Burada ne işler çevirdiğimizi bir bilseniz...
        </div>

        <div class="clear"></div>

        <div style="width:260px; padding:60px 0 0 20px; line-height:30px; height:214px; color:#fff; font-size:25px; float:left; background-color:#00d4e1">
            <div class="nasil-calisiyoruz-daire" style="position:absolute; margin-left:-55px; margin-top:-90px;">3</div>
            Çevirebileceğimiz İşler
        </div>
        <div style="float:left; width:238px; height:214px; margin-right:20px;">
            <img src="/Content/images/nasil3.png">
        </div>
        <div style="float:left; width:440px;">
            <br />
            <p>Teknoloji, hukuk ya da teknik... Çevirinin konusu ne olursa olsun, Çeviri Dükkanı, ihtiyaçlarınızı özenle tespit ediyor ve uzmanlık konusuna göre çevirmen ekibimiz ile dosyalarınızı çeviriyor. </p><br />
            <p>Kendi alanında uzman yeminli çevirmenlerimiz, hukuk metinlerinden, sağlık konularına her dilde ve her konuda size hizmet vermek için hazır bekliyor! </p>
           
        </div>
        <i>* (1000 karakterlik bir çeviri 2 saat içerisinde teslim edilir)</i>
        <div class="clear"></div>

    </div>