
@{
    ViewBag.Title = "Banka Hesap Bilgileri | Çeviri Dükkanı Havale Bilgileri";
}


<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "BANKA HESAP BİLGİLERİ", SubTitle = "BANKA HESAP BİLGİLERİ" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">
                    <h2>Şirket Bilgileri</h2>
                    <b>Firma Ünvanı : </b>AİM DANIŞMANLIK VE DIŞ. TİC. LTD. ŞTİ.<br />
                    <b>Firma Adresi:</b> Kemal Akgüder Cad. Kurukaya Sok. Koç Apt. No: 5/B Bostancı / İSTANBUL<br />
                    <b>Telefon:</b> 0216 362 6 362<br />
                    <b>Fax:</b> 0216 362 6 369<br /><br />
                    <h2>Banka Hesap Bilgileri</h2>
                    <img src="/Content/images/garanti.png" border="0" /><br />
                    <b>Şube Kodu : </b>BEBEK ŞUBESİ - 211<br />
                    <b>Hesap Numarası:</b> 6297866<br />
                    <b>IBAN No:</b> TR76 0006 2000 2110 0006 2978 66<br /><br />
                    <hr />
                    <img src="/Content/images/hsbc.png" border="0" /><br />
                    <b>Şube Kodu : </b>ALTUNİZADE ŞUBESİ - 719<br />
                    <b>Hesap Numarası:</b> 719 1016862 282 00<br />
                    <b>IBAN No:</b> TR70 0012 3007 1910 1686 2282 00<br /><br />
                    <hr />
                    <img src="/Content/images/isbank.png" border="0" /><br />
                    <b>Şube Kodu : </b>BEBEK ŞUBESİ - 1092<br />
                    <b>Hesap Numarası:</b> 0247528<br />
                    <b>IBAN No:</b> TR71 0006 4000 0011 0920 2475 28<br /><br />
                </div>
            </div>
        </div>
    </div>
</section>