
@{
    ViewBag.Title = "Banka Hesap Bilgileri | Çeviri Dükkanı Havale Bilgileri";
}

<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300|Open+Sans:400,300,700,600|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
@section scripts{

    <script>
        $(function() {
            $('#ms').multipleSelect();
            $('#ms2').multipleSelect();
            $('.tooltip')
                .tooltipster({
                    contentAsHTML: true,
                    interactive: true,
                    content:
                        $('<div style="width:180px; padding:5px; border-bottom:1px solid #000;"><a href="/#yeniis">Yeni Çeviri Gönder</a></div><div style="width:180px; padding:5px; border-bottom:1px solid #000;"><a href="/bireysel/Kullanici-Paneli">Kullanıcı Panelim</a></div><div style="width:180px; padding:5px; border-bottom:1px solid #000;"><a href="/bireysel/Profil-Bilgilerim">Profil Bilgileri</a></div><div style="width:180px; padding:5px;"><a href="/bireysel/Sifre-Degistir">Şifre Değiştir</a></div>')
                });
        });
    </script>

}


<section id="content">
    <div class="content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="clear"></div>
                <h1 class="ortala" style="color:#7f7f7f">BANKA HESAP BİLGİLERİ</h1>


                <div class="ortala">

                    <div style="width:260px; padding:70px 0 0 20px; line-height:30px; height:214px; color:#fff; font-size:30px; float:left; background-color:#00d4e1">
                        BANKA HESAP BİLGİLERİ
                    </div>
                    <div style="float:left;">
                        <img src="/Content/images/sundugumuz-gorsel.png" />
                    </div>

                    <div class="clear"></div>

                    <div class="sundugumuz_menu">
                        <div><a href="Kaliteli-Ceviri">Kaliteli Çeviri</a></div>
                        <div><a href="Guvenlik-ve-Gizlilik">Güvenlik ve Gizlilik</a></div>
                        <div class="aktif"><a href="Banka-Hesap-Bilgileri">Banka Hesap Bilgileri</a></div>
                        <div><a href="Hizmet-Sozlesmesi#iptal">İptal ve İade Koşulları</a></div>
                        <div style="border-bottom:none;"><a href="Hizmet-Sozlesmesi">Hizmet Sözleşmesi</a></div>
                    </div>
                    <div style="float:left; width:637px; margin-left:20px;">
                        <h2>Şirket Bilgileri</h2>
                        <b>Firma Ünvanı : </b>AİM DANIŞMANLIK VE DIŞ. TİC. LTD. ŞTİ.<br />
                        <b>Firma Adresi:</b> Kemal Akgüder Cad. Kurukaya Sok. Koç Apt. No: 5/B Bostancı / İSTANBUL<br />
                        <b>Telefon:</b> 0216 362 6 362<br />
                        <b>Fax:</b> 0216 362 6 369<br /><br />
                        <h2>Banka Hesap Bilgileri</h2>
                        <img src="/Content/images/garanti.png" border="0" /><br />
                        <b>Şube Kodu : </b>BEBEK ŞUBESİ - 211<br />
                        <b>Hesap Numarası:</b> 6297866<br />
                        <b>IBAN No:</b> TR76 0006 2000 2110 0006 2978 66<br /><br />
                        <hr />
                        <img src="/Content/images/hsbc.png" border="0" /><br />
                        <b>Şube Kodu : </b>ALTUNİZADE ŞUBESİ - 719<br />
                        <b>Hesap Numarası:</b> 719 1016862 282 00<br />
                        <b>IBAN No:</b> TR70 0012 3007 1910 1686 2282 00<br /><br />
                        <hr />
                        <img src="/Content/images/isbank.png" border="0" /><br />
                        <b>Şube Kodu : </b>BEBEK ŞUBESİ - 1092<br />
                        <b>Hesap Numarası:</b> 0247528<br />
                        <b>IBAN No:</b> TR71 0006 4000 0011 0920 2475 28<br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
