
@{
    ViewBag.Title = "Çevirmek istediğin bir döküman mı var? | Çeviri Dükkanı İletişim";
}

<link href='https://fonts.googleapis.com/css?family=Oxygen:400,700,300|Open+Sans:400,300,700,600|Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

<div class="clear"></div>

<section id="content">
    <div class="content-wrap">
        <div class="row">
            <div class="col-md-12">
                <div class="ortala">
                    <div style="float: left; width: 270px; margin-top: 20px;">
                        <img src="/Content/images/harita_icon.png" alt="" style="float: left; margin: 18px 5px 0 0px" />
                        <h1 style="color: #00d4d7; border-bottom: solid 3px; padding-bottom: 16px;">ADRES</h1>
                        <p style="color: #6d6d6d; font-size: 14px; line-height: 24px;">
                            Dr. Kemal Akgüder Cd.<br />Kurukaya Sk. Koç Apt. No:5/B
                            <br />
                            Bostancı / İSTANBUL
                            <br>
                            <b>T.:</b> 444 0 671
                            <br>
                            <b>T.:</b> +90 216 362 6 362
                            <br>
                            <b>F.:</b> +90 216 362 6 369
                        </p>
                    </div>

                    <div style="float: right; width: 630px; margin-top: 20px;">
                        <img src="/Content/images/bize_yazin_icon.png" alt="" style="float: left; margin: 18px 5px 0 0px" />
                        <h1 style="color: #00d4d7; border-bottom: solid 3px; padding-bottom: 16px;font-size:22px">Aklına takılan bir şeyler mi var? Tüm sorulara açığız:</h1>
                        <div style="float: left; margin-right: 20px;">
                            Ad Soyad<br />
                            <br />
                            Email<br />
                            <br />
                            Telefon<br />
                            <br />
                        </div>
                        <div style="float: left; position: relative; z-index: 1000;">
                            <input type="text" id="txtAdSoyad" class="sbHolder" style="width: 230px;" /><br />
                            <br />
                            <input type="email" id="txtEposta" class="sbHolder" style="width: 230px;" /><br />
                            <br />
                            <input type="text" id="txtTelefon" class="sbHolder" style="width: 230px;" /><br />
                            <br />
                            <br /><br />
                        </div>

                        <div style="float: left; margin-right: 20px; margin-left: 40px;">
                            Konu<br />
                            <br />
                            Mesaj

                        </div>
                        <div style="float: left; position: relative; z-index: 1000;">
                            <textarea id="txtKonu" class="sbHolder" style="width: 230px;"></textarea><br />
                            <br />
                            <textarea id="txtMesaj" class="sbHolder" style="width: 230px; height: 80px;"></textarea>
                            <div class="clear"></div>
                            <br />
                            <button id="btnGonder" class="buton2 sag" style="margin-right: 0px;" onclick="btnGonder_Click">Gönder</button>
                        </div>
                        <h2>
                            Talebiniz başarı ile gönderildi.<br />
                            Teşekkürler
                        </h2>
                    </div>

                    <div style="float: right; width: 960px; margin-top: 20px;">
                        <img src="/Content/images/bize_yazin_icon.png" alt="" style="float: left; margin: 18px 5px 0 0px" />
                        <h1 style="color: #00d4d7; border-bottom: solid 3px; padding-bottom: 16px;">HARİTA</h1>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3012.958918318261!2d29.098426399999997!3d40.96047879999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cac6f8b3b1e66f%3A0x84ee80ed883e787e!2zS3VydWtheWEgU2sgTm86NSwgQm9zdGFuY8SxIE1oLiwgMzQ3NDQgS2FkxLFrw7Z5L8Swc3RhbmJ1bCwgVMO8cmtpeWU!5e0!3m2!1str!2s!4v1405410814413" width="960" height="450" frameborder="0" style="border:0"></iframe>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
