
@{
    ViewBag.Title = "EnglishTurkishTranslation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "İngilizce Türkçe Tercüme", SubTitle = "İngilizce Türkçe Tercüme ve bazı kritik noktalar" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">

                    <h3 style="font-size: 18px">İngilizce Türkçe Tercüme kritik öneme sahip</h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        İngilizcenin dünya dili olmasına giden yolda belki de ilk kırılma noktası 1763 yılında oldu. Bu yıl James Watt, buhar makinasını buldu. Şimdilerde pek çok ülkenin anaokullarında bile İngilizce öğretilmesinin buhar makinası ile pek ilgisi yokmuş gibi görünse de tarihe baktığımızda; bu olayın sanayi devriminin başlangıcı olduğu görebiliriz. Devrimin Britanya'da başlamış olması, başta ticareti ve mühendisliği etkilediği gibi, nasıl ipek yolu boyunca taşınan sadece baharat değil idiyse, benzer şekilde sanayi devrimi ile ülkeler arasında taşınan en önemli şeylerden birisi dil ve kültür olmuştu.
                        <br />
                        <br />
                        David Cyristal'ın Cambridge Üniversitesi Yayınları'ndan çıkan kitabında da (<u><a href="http://catdir.loc.gov/catdir/samples/cam041/2003282119.pdf" target="_blank">Küresel Bir Dil Olarak İngilizce - English as a Global Language - 1997</a></u>) belirttiği üzere; Britanya'nın hükümranlığı ile zaten hayli yayın bir haline gelmiş olan <strong>İngilizce</strong>, 1900'lü yıllardan ve özellikle dünya savaşlarından sonra Amerika'nın önderliğinde tüm dünyada yaygınlığın ötesinde baskın bir olmuştur.
                        <br />
                        <br />
                        Bilim ve mühendislik ile başlayan süreçte önce köklü ekonomik değişimler olmuş, bu da büyük devletleri ve elbette ki Amerika'yı doğurmuştur. Amerika'nın iletişimden, arge araştırmalarına, sinemadan müziğe hemen her alanda öne çıkması, İngilizceyi günümüzün olmazsa olmaz dili haline getirmiştir.
                        <br />
                        <br />

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/WZI1EjxxXKw" frameborder="0" allowfullscreen></iframe>
                    </p>
                    <br />


                    <h3><strong>Bilgiye ulaşmada İngilizce Türkçe Tercüme</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        18. Yüzyıldan bugüne geldiğimizde, baş döndürücü bir hızıla gelişen elektronik ve bilgi teknolojilerinde İngilizcenin yine en ön sırada olduğunu görüyoruz. İstatistiklere göre mevcut internet içeriğinin %80'i ne yazık ki <strong>Türkçe</strong> değil <strong>İngilizce</strong>. Bu da ister öğrenci olun, isterse işlerini arttırmak isteyen bir iş adamı olun, herhangi bir araştırma yapacak olduğunuzda karşınıza çıkacak kaynakların yüzde sekseni <strong>İngilizce</strong> olacak demek (bkz: yukarıdaki video). Benzer şekilde, kendi komşu ülkelerinizle iş yaptığınızda da coğrafyadan bağımsız ortak iletişim diliniz büyük oranda yine İngilizce olacak. Hatta daha oralara gelmeden, insanların öğencilik hayatında iken, iyi bir okula girebilmesi için, İngilizce barajını aşmak, yüzlerce binlerce kelime/kalıp/gramer biliyor olmak hali hazırda neredeyse zorunluluk olmuş durumda.<br />
                        <br />
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EOGkooQxRcU" frameborder="0" allowfullscreen></iframe>
                        <br />
                        <br />
                        Karşımıza çıkan tablodaki en büyük görsel şu: Bilgiye ve o bilgi sayesinde elde edeceğiniz şey her ne ise ona daha hızlı ulaşmak için;
                        <br />
                        ya çok iyi derecede İngilizce öğrenmelisiniz<br />
                        ya da çok iyi derece İngilizce bilen, <em>aktif olarak tercüme yapabilen kişilerle</em> çalışmalısınız.<br />
                        <br />
                        Çevirilerin hızlı ve kaliteli olması, itibarınız ve işlerinizin devamlılığı açısından önem arz ediyorsa; profesyonel tercüme firmaları ile çalışmalısınız.
                    </p>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Övünmek gibi olsun ;) <strong><em>İngilizce Türkçe tercüme</em></strong> konusunda, <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none"><em>1998</em></span><em>'den bu yana</em> Türkiye ve onlarca farklı ülkeye hizmet sunan <em>AİM Danışmalık</em>, sekötürün en tecrübeli oyuncularından birisi. Bu tecrübeyi, 21. yüz yılın teknolojik avantajlarıyla birleştirip <u><strong><a href="http://www.ceviridukkani.com/">Çevir Dükkanı</a></strong></u> olarak sizlere sunmanın mutluluğunu yaşıyoruz.<br />
                        <br />
                        <br />
                        <br />
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>