
@{
    ViewBag.Title = "EnglishTranslation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "İngilizce Çeviri", SubTitle = "İngilizce Çeviri Etkisi" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">

                    <h3 style="font-size:18px">İngilizce Çeviri ile Dünyaya Açılın</h3>
                    <p class="fnt" style="mso-layout-grid-align:none;text-autospace:none">

                        Zamanın insanları her ne kadar Henry Ford'u eleştirmiş olsalar da <span class="fnt" style="mso-layout-grid-align:none;text-autospace:none">kendi bilgisinin olmadığı alanlarda bile</span> o işin uzmanı kişilerle çalışarak  şirketinin başarılı olabileceğini, göstermişti. Ama Henry Ford'un dünyayı değiştirmesi bunla değil, seri imalat sistemini kurması ile olmuştu. Bir banda yarı mamul olarak giren ham maddenin, çeşitli aşamalardan geçerek bant sonunda kullanıma hazır olarak ürün olarak piyasaya sunulmasının önü açılmıştı. Ford, bant sistemini elbette ki kendi arabalarının imalatı için uygulamış ve tüm yolların arabalarla süslenmesinin yanı sıra taşımacılık ve uzak mesafelerle ticareti de hızlandırmıştı. <br>
                        <br>
                        Uçak ve internet gibi buluşlar sonrası ise modern dünya, adeta sınırları belli olmayan devletlerden oluşan tek bir topluluk haline geldi. Bu toplumdakilerin anlaşabilmesi için ortak bir dil gerekiyordu. İngiltere ve Amerika'nın öncülüğünde ortak dünya dili <em><strong>İngilizce</strong></em> oldu.<br>
                        <br>
                        <br>
                        <img src="images/global-dunya-ortak-dili-ingilizce.jpg" width="633" height="215" alt="Dünyaya açılmak için İngilizce Çeviri">
                    </p>
                    <h3>
                        <strong>
                            <br>
                            İngilizce Çeviri ile İşinizi Büyütün
                        </strong>
                    </h3>
                    <p class="fnt" style="mso-layout-grid-align:none;text-autospace:none">
                        Sokağa çıksak ve sorsak, "Bize büyük bir Türkiye firması söyleyin" desek, insanların sayacakları firmaları kabaca tahmin edebiliriz. Bu firmaların hiç birinin yönetim kurulunda olmasak bile %100 kesinlikte bildiğimiz başka bir şey daha olacaktır; Bu firmaların istisnasız hepsinin yurtdışına ürün ya da hizmet ihraç ettikleri ya da bunları ithal ettikleri.<br>
                        <br>
                        Sizin de dışında pazar arayışlarınız varsa ya da yurt dışından getirmek istediğiniz bilgi, hizmet ve ürünler varsa profesyonel <em><strong>çeviri</strong></em> ihtiyacınız var demektir. Yukarıda da geçtiği üzere, resmi olarak olmasa bile fiiliyatta dünyanın ortak dili artık <em><strong>İngilizce</strong></em>. Size ait ne varsa hepsinin <em>İngilizceye <u><a href="https://ceviridukkani.com/tercume">Tercüme</a></u></em> edilmesi, bu küresel köyde yerinizi almanız için elzem.<br>
                        <br>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>