@{
    ViewBag.Title = "Nasıl Çeviriyoruz | Çeviri Dükkanı Nasıl Çalışıyor?";
}



<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    <div class="heading-block noborder">
                        <h3>NASIL ÇEVİRİYORUZ</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div align="center" style="border: 6px solid #00d4e1; width: 972px; height: 552px;">
                        <iframe src="//player.vimeo.com/video/103117855?title=0&amp;byline=0&amp;portrait=0&amp;color=00d4e1&rel=0" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <br /><br /><br />
                    <div class="ortala">

                        <div style="margin-bottom: 50px; width: 260px; padding: 60px 0 0 20px; line-height: 30px; height: 214px; color: #fff; font-size: 25px; float: left; background-color: #00d4e1">
                            <div class="nasil-calisiyoruz-daire" style="position: absolute; margin-left: -55px; margin-top: -90px;">1</div>
                            2 saatte çeviri!
                        </div>
                        <div style="margin-bottom: 50px; float: left; width: 238px; height: 214px; margin-right: 20px;">
                            <img src="/Content/images/nasil4.png">
                        </div>
                        <div style="margin-bottom: 50px; float: left; width: 440px;">
                            <p>İş çevirme konusunda uzman kadrosu ile Çeviri Dükkanı, her dilde ve konudaki çevirileri özenle inceliyor; 2 saat içerisinde iletiyor</p>
                            <p>Gönderdiğiniz çevirinin konusu ne olursa olsun, dosyanız alanında uzman çevirmenlere iletiliyor ve 2 saat içerisinde tüm kontrolleri yapılmış şekilde size teslim ediliyor.</p>
                            <p>Çeviri sonrasında birçok çeviri kontrol aracı ile kontrol sağlayan Çeviri Dükkanı editör ekibi, teslimat öncesinde çevirilerin noter onayını da alarak kaliteden asla ödün vermiyor.</p>

                        </div>

                        <div class="clear"></div>

                        <div style="margin-bottom: 50px; float: left; width: 440px;">
                            <p>Her işin bir kuralı var! Teknoloji, hukuk, seyahat... Çevirinin konusu ne olursa olsun, Çeviri Dükkanı çevirmen ekibinde ihtiyaçlarınızı karşılayacak bir uzman mutlaka mevcut!</p>
                            <p>Alanında uzman yeminli çevirmenler çevirinizi teslim alıyor; kalite araçları ile kontrol edilen çeviriniz size teslim ediliyor. İşlerin hangi dilden geleceği belli olmaz! Dünya çapındaki uzman kadromuzda ana dili farklı yüzlerce çevirmen bulunuyor.</p>
                            <p>
                                Ayrıca dünya çapındaki uzman kadromuzda ana dili farklı yüzlerce çevirmen bulunuyor ve gönderdiğiniz dosyanın kaynak dili ne olursa olsun kaliteden asla ödün verilmiyor.
                            </p>
                        </div>

                        <div style="margin-bottom: 50px; float: left; width: 238px; height: 214px; margin-left: 20px;">
                            <img src="/Content/images/nasil5.png">
                        </div>

                        <div style="margin-bottom: 50px; width: 260px; padding: 65px 0 0 20px; line-height: 30px; height: 214px; color: #fff; font-size: 25px; float: left; background-color: #00d4e1">
                            <div class="nasil-calisiyoruz-daire" style="position: absolute; margin-left: 205px; margin-top: -95px;">2</div>
                            Kuralına göre çeviri
                        </div>

                        <div class="clear"></div>

                        <div style="width: 260px; padding: 60px 0 0 20px; line-height: 30px; height: 214px; color: #fff; font-size: 25px; float: left; background-color: #00d4e1">
                            <div class="nasil-calisiyoruz-daire" style="position: absolute; margin-left: -55px; margin-top: -90px;">3</div>
                            Uygun çeviri!
                        </div>
                        <div style="float: left; width: 238px; height: 214px; margin-right: 20px;">
                            <img src="/Content/images/nasil6.png">
                        </div>
                        <div style="float: left; width: 440px;">
                            <p>Yılların tecrübesi ile iş çeviren Çeviri Dükkanı, sektördeki deneyimine güveniyor; bu kalite ile en uygun fiyatları birleştiriyor!</p>
                            <p>Kullanıcı dostu bir arayüze sahip çeviri platformu, farklı dosya uzantılarını kabul ediyor ve dosya türünüz ne olursa olsun size her adımda kolaylık sağlıyor. Dosyanızı yüklediğinizde çevirinin ücretini görmenizi sağlayan sistemimiz, kendi maliyet hesabınızı yapmanıza da olanak veriyor.</p>
                            <p>Kalitesine ve hızına güvene Çeviri Dükkanı, ilk defa çalıştığı müşterilerine ise %20 indirim fırsatı sağlıyor.</p>
                            <p>
                                <a href="/#yeniis" class="buton2 sag">HEMEN ÇEVİR</a>
                            </p>
                        </div>

                        <div class="clear"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 