
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/bower_components/select2/dist/css/select2.css" rel="stylesheet" />
<link href="~/bower_components/dropzone/dist/basic.css" rel="stylesheet" />
<link href="~/bower_components/dropzone/dist/dropzone.css" rel="stylesheet" />

<section id="slider" class="slider-parallax swiper_wrapper clearfix">

    <div class="slider-parallax-inner" style="left:auto">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide dark" style="background-image: url('/Content/images/slider1-yeni.jpg');">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">@*Ne işler çevirdiğimizi bi' bilseniz...*@</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200"><button class="btn btn-success">ÇEVİRİNİ BAŞLAT</button></p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide dark">
                    <div class="container clearfix">
                        <div class="slider-caption slider-caption-center">
                            <h2 data-caption-animate="fadeInUp">Beautifully Flexible</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
                        </div>
                    </div>
                    <div class="video-wrap">
                        <video poster="~/Content/images/videos/explore.jpg" preload="auto" loop autoplay muted>
                            <source src='images/videos/explore.mp4' type='video/mp4' />
                            <source src='images/videos/explore.webm' type='video/webm' />
                        </video>
                        <div class="video-overlay" style="background-color: rgba(0,0,0,0.55);"></div>
                    </div>
                </div>
                <div class="swiper-slide" style="background-image: url('images/slider/swiper/3.jpg'); background-position: center top;">
                    <div class="container clearfix">
                        <div class="slider-caption">
                            <h2 data-caption-animate="fadeInUp">Great Performance</h2>
                            <p data-caption-animate="fadeInUp" data-caption-delay="200">You'll be surprised to see the Final Results of your Creation &amp; would crave for more.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
            <div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
            <div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
        </div>

    </div>

</section>
<section>
    
</section>
<!-- Content
============================================= -->

<section id="content">

    <div class="content-wrap">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group row">
                        <label for="sourceLanguage" class="col-sm-2 col-form-label">Dil</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="sourceLanguage" placeholder="Dil Seçiniz">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="targetLanguages" class="col-sm-2 col-form-label">Çevirilecek Diller</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="targetLanguages" placeholder="Dil Seçiniz" multiple="multiple">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="targetLanguages" class="col-sm-2 col-form-label">Doküman</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control-file" id="file" placeholder="Doküman Yükleyiniz">
                        </div>
                    </div>
                    <label id="txtPageCount"></label>
                    <label id="txtCharCount"></label>
                    <label id="txtCharCountWithSpaces"></label>
                    <div class="form-group row">
                        <label for="targetLanguages" class="col-sm-2 col-form-label">Terminoloji</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="terminology" placeholder="Terminoloji Seçiniz" multiple="multiple">
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <div class="container clearfix">

            @*<div class="row">
                    <div class="col-sm-4">
                        <h4>DİL SEÇ</h4>

                    </div>
                    <div class="col-sm-4">
                        <h4>DOSYA YÜKLE</h4>

                    </div>
                    <div class="col-sm-4">
                        <h4>ALAN SEÇ</h4>

                    </div>
                </div>*@

            <div class="col_half norightmargin">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><img src="~/Content/images/iconset1.jpg" /></a>
                    </div>
                    <h3>Yeminli çevirmenlerle işbirliği<span class="subtitle">Dosyalarınızın öneminin farkındayız. Bu sebeple alanında uzman yeminli çevirmenlerle çalışıyoruz.</span></h3>
                </div>
            </div>

            <div class="col_half">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><img src="~/Content/images/iconset2.jpg" /></a>
                    </div>
                    <h3>Noter onaylı kalite<span class="subtitle">Kalitenin sizi temsil ettiğini biliyoruz. Çevirilerinizin kalite kontrol araçları ve uzman çevirmenlerce kontrolünü sağlıyor; noter onayına sunuyoruz. </span></h3>
                </div>
            </div>

            <div class="col_half">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><img src="~/Content/images/iconset3.jpg" /></a>
                    </div>
                    <h3>Zamanında teslimat<span class="subtitle">İş planlamanıza önem veriyoruz. Planlamanızda sorun yaşamamanız için dosyalarınızı zamanında teslim ediyoruz. </span></h3>
                </div>
            </div>

            <div class="col_half col_last">
                <div class="feature-box fbox-center fbox-light fbox-effect nobottomborder">
                    <div class="fbox-icon">
                        <a href="#"><img src="~/Content/images/iconset5.jpg" /></a>
                    </div>
                    <h3>17 yıllık tecrübe<span class="subtitle">Deneyimin önemini biliyoruz. 17 yıllık tecrübe ile çeviri teknolojilerini birleştiriyor; sizlere kaliteli hizmeti daha kısa sürede sunuyoruz. </span></h3>
                </div>
            </div>

            <div class="clear"></div>

        </div>

        <div class="tabs tabs-alt tabs-justify clearfix" id="tab-10">
            <ul class="tab-nav clearfix">
                <li><a href="#tabs-37">İndirim Fırsatı</a></li>
                <li><a href="#tabs-38">Referanslarımız</a></li>
                <li><a href="#tabs-39">Bize Katılın</a></li>
            </ul>

            <div class="tab-container">
                <div class="tab-content clearfix" id="tabs-37" style="background: url('/Content/images/tabsayfa1.jpg'); background-size: cover;height: 500px;">
                    <p>
                        <h4>Daha önce bizimle hiçbir iş çevirmedin mi?</h4>

                        İşte sana güzel bir fırsat! Çeviri Dükkanı sürpriz indirimlerinden faydalanmak için sitemizi takip etmeye devam edin.
                    </p>
                </div>
                <div class="tab-content clearfix" id="tabs-38" style="background: url('/Content/images/referanslarimiz.jpg'); background-size: cover;height: 500px;">
                    <h4>İşte bizimle iş çeviren markalardan sadece bazıları!</h4>
                </div>
                <div class="tab-content clearfix" id="tabs-39" style="background: url('/Content/images/bize-katil.jpg'); background-size: cover;height: 500px;">
                    <p style="background-color: rgba(254,196,0,0.7)" class="col-sm-6">
                        İş çevirme konusunda kendine güveniyor musun?

                        Sana bir teklifimiz var! Çeviri ekibimizin bir parçası ol, en keyifli işleri birlikte çevirelim!
                        Çevirmen Başvuru Adresimiz: <a href="/Tercuman-Ol-1">Hemen Bize Katıl!</a>
                    </p>
                </div>
            </div>
        </div>

        <div class="container clearfix">

            <div id="oc-clients" class="owl-carousel owl-carousel-full image-carousel carousel-widget" data-margin="30" data-loop="true" data-nav="false" data-autoplay="5000" data-pagi="false" data-items-xxs="2" data-items-xs="3" data-items-sm="4" data-items-md="5" data-items-lg="6" style="padding: 20px 0;">

                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/bp.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/anadolu.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/avea.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/beko.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/bp.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/canon.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/ege-yapi.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/ergo.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/ericsson.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/eti-maden.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/acibadem.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/eti-maden.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/adidas.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/coca-cola.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/calik.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/calik.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/calik.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/ulker.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/turkish-airlines.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/medicalpark.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/abdi-ibrahim.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/turkcell.jpg" alt="Clients"></a></div>
                <div class="oc-item"><a href="#"><img src="~/Content/images/referanslar/siemens.jpg" alt="Clients"></a></div>
            </div>
        </div>

    </div>

</section><!-- #content end -->





@section scripts{
    <script src="~/bower_components/dropzone/dist/dropzone.js"></script>
    <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script>
        var baseUrl = "/api/v1/commonapi/";
        var myDropzone;
        function initDropZone() {

            myDropzone = new Dropzone("#file", {
                url: "http://localhost:8003/api/documentapi/uploadTranslationDocument",
                uploadMultiple: true,
                parallelUploads: 1,
                addRemoveLinks: '/Admin/Home/RemoveFile',
                maxFiles: 1,
                maxFilesize: 500000,
                acceptedFiles: '.pdf, .docx, .doc, .txt',
                dictDefaultMessage: 'Dosya yüklemek için tıklayın ya da dosyayı sürükleyip bırakın',
                dictFallbackMessage: 'Tarayıcınız bu içeriği gösteremiyor',
                dictFallbackText: '',
                dictInvalidFileType: 'Uyumsuz dosya tipi',
                dictFileTooBig: 'Dosya boyutu tanımlanandan yüksektir',
                dictResponseError: 'Hata oluştu',
                dictCancelUpload: 'Yüklemeyi iptal et',
                dictCancelUploadConfirmation: 'İptal etmek istediğinize emin misiniz?',
                dictRemoveFile: 'Dosya sil',
                dictMaxFilesExceeded: 'Toplam yüklenebilir dosya sayısını aştınız'
            });

            myDropzone.on('success', function(evt, response) {
                console.log(response);
                var documentDto = {
                    Name: $("#txtName").val(),
                    Path: response.Data.FilePath,
                    PageCount: response.Data.PageCount,
                    CharCount: response.Data.CharCount,
                    CharCountWithSpaces: response.Data.CharCountWithSpaces
                };

                $('#txtPageCount').val(documentDto.PageCount);
                $('#txtCharCount').val(documentDto.CharCount);
                $('#txtCharCountWithSpaces').val(documentDto.CharCountWithSpaces);
            });

            myDropzone.on('sending', function(file) {
                if (myDropzone.files.length > 1) {
                    myDropzone.cancelUpload(file);
                }
            });

            myDropzone.on('removedfile', function(removeThumb) {
                $('#txtPageCount').val("");
                $('#txtCharCount').val("");
                $('#txtCharCountWithSpaces').val("");
            });

        }

        function convertToSelect2Data(data) {
            var tempResult = [];
            data.forEach(function(item) {
                if (item.name) {
                    tempResult.push({ id: item.id, text: item.name });
                } else {
                    tempResult.push({ id: item.id, text: item.description });
                }

            });

            return tempResult;
        }


        function getSourceLanguages() {
            return $.ajax({
                url: baseUrl + "getLanguages",
                type: 'GET'
            });
        }

        function getTargetLanguages(sourceLanguageId) {
            return $.ajax({
                url: baseUrl + "getTargetLanguages",
                type: 'GET',
                data: { sourceLanguageId: sourceLanguageId }
            });
        }

        function getTerminologies() {
            return $.ajax({
                url: baseUrl + "getTerminologies",
                type: 'GET'
            });
        }

        $('#sourceLanguage').on('select2:select', function(e) {
            getTargetLanguages(e.params.data.id).then(function(result) {
                var morphedResult = [];
                result.forEach(function(item) {
                    morphedResult.push(item.targetLanguage);
                });

                $('#targetLanguages').select2({
                    data: convertToSelect2Data(morphedResult)
                });
            });
        });

        $(function() {
            initDropZone();
            getSourceLanguages().then(function(result) {
                $('#sourceLanguage').select2({
                    data: convertToSelect2Data(result)
                });
            });

            getTerminologies().then(function(result) {
                $('#terminology').select2({
                    data: convertToSelect2Data(result)
                });
            });
        });
    </script>

}