
@{
    ViewBag.Title = "MakeTranslating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "Çeviri Yaptır", SubTitle = "Profesyonel Çeviri Yaptır" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">
                    <h3 style="font-size: 18px">İşi uzmanına bırak, Çeviri Yaptır</h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Lidyalıların takas yerine akçeyi kullanmaya başlamasından bu güne kadar, hemen her konuda çeşitli marketler ve piyasalar oluşmuş durumda. Gıda, giyim ve barınma gibi temel ihtiyaç maddelerinden, para birimlerinin paritelerine hatta mevcut değeri olan herhangi birşeyin gelecekteti fiyatları üzerine bile pazarlar bulmak mümkün. Haliyle, elbetteki bir Nasdaq olmasa da emek ve hizmet yoğun sektörlerin geneli ve çeviri hizmetleri için de bir piyasa mevut. Ve bu piyasada almak istediğiniz tercüme hizmeti için çok farklı fiyat teklifleri almanız mümkün.
                        <br />
                        <br />
                        Bu noktada, nasıl bir çeviri istiyorsunuz, çevirisi yapılacak dökümanların işinizin kalitesini ne derece etkilecek. Şayet &quot;olmasın daha iyi ama ne yapalım yabancı dil de garnitür olsun&quot; diyorsanız belki de çok sorun yok. Ancak şahsınızın ya da şirketinizin imajı ve duruşu sizin için önemli ise; kalite çitanız ehven-i şer'in hayli üzerinde ve &quot;ortalama&quot; sizi tatmin etmiyorsa işi uzmanına bırakın ve profesyonel <em><strong>çeviri yaptırın</strong></em>.<br />
                    </p>
                    <h3><strong>Chicken Translate</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Hatalı yapılmış, otomatik çeviri programlarına bırakılmış ancak öncesi ve sonrasında kanlı canlı insanlar tarafından kontrolleri yapılmamış bazı çevirilerden örnek vermek için aşağıdaki video hayli manidar olacaktır:<br />
                        <br />

                        <object width="525" height="344">
                            <param name="movie" value="http://swf.tubechop.com/tubechop.swf?vurl=4d79ZoH82Hs&start=5&end=60&cid=6420842"></param>
                            <embed src="http://swf.tubechop.com/tubechop.swf?vurl=4d79ZoH82Hs&start=5&end=60&cid=6420842" type="application/x-shockwave-flash" allowfullscreen="true" width="525" height="344"></embed>
                        </object>

                        <br />
                        <br />
                        Çay ocağı = Tea january<br />
                        Döner = Returns<br />
                        Kasımpaşalı = November paşalı<br />
                        Kazan dibi = Bottom of win<br />
                        İçli köfte = Sensitive meatball<br />
                        Pazarlama müdürü = Sundaying manager<br />
                        Dürüm = Status<br />
                        Dilim yaş pasta = Age slice of pie<br />
                        Ekler = Adds<br />
                        Dil peyniri = Language cheesev<br />
                        Gözlemeler = Observing<br />
                        <br />
                        Bu örneklerdeki gibi tercümelerle karşılaşmak istemiyorsanız,  işinizi şansa bırakmayın. <strong><em>Profesyonel ve tecrübeli firmalara çeviri yaptırın</em></strong>.<br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>