
@{
    ViewBag.Title = "ProfessionalTranslation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "Profesyonel Çeviri", SubTitle = "Hassas ve Profesyonel Çeviri" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">

                    <h3 style="font-size: 18px">Profesyonel Çeviri'de başat unsur: Tecrübe</h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Gelişime açık bir şirket ya da bireyseniz; er ya da geç İngilizce ve diğer yabancı dilleri anlama ve kendinizi bu dillerde ifade etme ihtiyacını yıllar yıllar önce hissetmiş olmalısınız.
                        <br />
                        İşleriniz hemen her gün yoğun bir şekilde yabancı dil gerektiriyorsa, zaten kendiniz ilgili dilleri akıcı bir şekilde konuşuyor olmalısınız. Bir nebze daha az ise, <u><strong><a href="Hizli-Ceviri">hızlı çeviri</a></strong></u> ve simültane tercüme yapabilen bir asistanınız olmalı.
                        <br />
                        <br />
                        Bunların dışındaki hemen her türlü çeviri işlemlerinizde; kalite ve müşteri memnuniyetini
                        esas alıyorsanız;
                        <br />
                        <em>Çözüm ortaklarınız arasına profesyonel çalışan bir çeviri bürosunu  kesinlikle dahil etmelisiniz.</em><br />
                        <br />
                        İstisnaları olsa da insan biyolojisi dikkate alınarak ortaya atılan ve kabul gören bir görüşe göre;  herhangi bir işte uzman olmanın şartı: &quot;En az 10 bin saat o işle uğraşmış olmak&quot;. Bu, herhangi bir müzik aletini çalmak olabileceği gibi farklı dallarda sporculuk ya da satış pazarlamadan kafeterya işletmeye kadar çeşitli meslekler de olabilir. Günde 8 saatlik bir çalışma baz alındığında 10 bin saat yaklaşık olarak 4,8 yıla tekabül ediyor.
                        <br />
                        <br />
                        Benzer koşullar çeviri dünyası için de geçerli. Ne kadar deneyim, o kadar başarı. Şimdi olaya biraz diğer tarfatan yaklaşalım ve deneyim eksikliğinin yaşadığı biri yarı resmi biri de eğlenceli 2 örneğe bakalım;<br />
                        <br />
                        İtalya'da Gladio'yu çökerten efsane savcı Felice Casson
                        Türkiye'ye geldiğinde..<br />
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/bHKpnBO7s2I" frameborder="0" allowfullscreen></iframe>
                        <br />
                        <br />
                        <br />
                        Acun Ilıcalı'nın programında..<br />
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/G7sqCNzdGj0" frameborder="0" allowfullscreen></iframe>

                        <br />
                        <br />
                        Görüldüğü üzere; çeviri hataları, yanlış çeviriler ya da bir kelimenin bile çevirisinin tam yapılamıyor oluşu, bir tv programının akışını ya da uluslararası bir toplantının heba olması ile sonuçlanabiliyor.<br />
                    </p>

                    <h3><strong>Profesyonel çeviri için profesyonel ekip</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Son dönemlerde bilgisayar çevirilerileri trend yakalıyor gibi dursa da bir bilgisayarın tercümanlara yardımcı olan &quot;iyi bir araç&quot;tan öte gidemeyeceğini ve gerçek manada bir çeviriyi hiç bir zaman yapamayacağını rahatlıkla söyleyebiliriz. (bkz: <u><a href="http://www.babil.com/urunler/1374803/bilgisayar-ve-zeka-kralin-yeni-usu-1--cilt" target="_blank">Roger Penrose, Kralın Yeni Usu I, II, III</a></u>) Dolayısıyla çeviri işi bugüne kadar olduğu gibi bundan sonra da tercümanlarla devam edecek bir iş.<br />
                        <br />
                        O halde <em><strong>profesyonel çeviri</strong></em> için;<br />
                        kaliteli bir <u><a href="Ceviri-Burosu"><strong>çeviri bürosu</strong></a></u> ile çalışmanın yanında, çalıştığınız firmadaki tercümanların; yeminli  olup olmadıkları, katıldıkları semimerler, aldıkları eğitimler ve en önemlisi <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none"><strong>ne kadar deneyimli oldukları</strong>, mihenk taşı niteliğinde </span>bir kriter oluşturmaktır. Bununla birlikte,<em> çeviri şirketinin de <strong>kurumsal olarak </strong>ne kadar zamandır sektörde yer aldığı</em>  size çok önemli bir ipucu verecektir.<br />
                        <br />
                    </p>


                    <h3><strong>Çeviri Dükkanı'nın tecrübesi</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Profesyonellik için 10 bin saat gerektiğinden bahsetmiştik. <strong>AİM Danışmanlık</strong>'ın <strong>1998</strong>'den bu yana devam ededen sektör tecrübesini içinde barındıran <strong>Çeviri Dükkanı</strong> için bu süre 53.000  saati çoktan aşmış durumda ;)<br />
                        <br />
                        <br />
                        <br />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>