
@{
    ViewBag.Title = "Kaliteli Çeviri Hizmeti Nasıl Alınır? | Çeviri Dükkanı";
}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "6 Madde ile Kaliteli Çeviri" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">
                    @{
                        var model = "Örnek Model";
                        Html.RenderPartial("_Content",model);
                    }
                </div>
            </div>
        </div>
    </div>
</section>