
@{
    ViewBag.Title = "Kaliteli Çeviri Hizmeti Nasıl Alınır? | Çeviri Dükkanı";
}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "6 Madde ile Kaliteli Çeviri", SubTitle = "Kaliteli Çeviri" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">
                    <h2>6 Madde ile Kaliteli Çeviri</h2>
                    <p class="MsoNormal" style="margin-left: 180.0pt; text-align: justify; mso-pagination:none">
                        &nbsp;
                    </p>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        <b>
                            <span></span>
                        </b><b>
                            <span>

                            </span>
                        </b>Çeviri ihtiyaçlarınız için yüzlerce kurumsal şirket ve çok daha fazla sayıda bireysel tercüman bulunmakta. Ancak bunların sadece %9’u işini kaliteli yapmakta.<br /><br />Peki tercüme dünyasının camları arasında kaybolmadan, aradığınız elmasa nasıl ulaşabilirsiniz?
                    </p>

                    <p class="MsoNormal" style="mso-layout-grid-align: none; text-autospace: none">
                        <b>
                            <span></span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="mso-layout-grid-align: none; text-autospace: none">
                        <b>
                            <span>

                            </span>
                        </b>
                    </p>
                    <p class="bslk" style="text-align: justify; mso-pagination: none">
                        <b>
                            <h2>1. İlk olarak muhatabınızın Kurumsallığını kontrol edin.</h2>

                        </b>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-pagination: none">
                        <span>

                        </span>
                    </p>
                    <p class="mrg fnt" style="text-align: justify">
                        <span>
                            Bir  şirket  mi? <br />
                            Şirketin asıl  omurgasında çeviri  hizmeti mi var?<br />
                            Bu işi kaç yıldır  yapıyorlar?

                        </span>
                    </p>
                    <p class="MsoBodyText2" style="margin-bottom: 0cm; margin-bottom: .0001pt;text-align: justify; line-height: normal">
                        <span></span>
                    </p>
                    <p class="bslk" style="text-align: justify; mso-pagination: none">
                        <b>
                            <span>
                                <h2>2. Mail ya da telefonlara dikkat edin.</h2>

                            </span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-pagination: none">
                        <span></span>
                    </p>
                    <p class="mrg fnt" style="text-align: justify; mso-pagination: none">
                        <span>
                            Mesai saatlerinde her an  ulaşabiliyor  musunuz?<br />
                            E-Postalarınıza  dönüş hızı  nedir?<br />
                            Muhatabınızın  kullandığı dilden  memnun musunuz?
                        </span><span>

                        </span>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-pagination: none">
                        <span></span>
                    </p>
                    <p class="bslk" style="text-align: justify; mso-pagination: none">
                        <b>
                            <span>
                                <h2>3. Fiyat politikasına dikkat edin.</h2>

                            </span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-pagination: none">
                        <span></span>
                    </p>
                    <p class="mrg fnt" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        <span>
                            İstenen fiyat, piyasa ortalamasından çok  çok ucuzsa, kaçın. <br />
                            Muhatabınız  tek seferlik  kazançlar peşindeyse uzak durun.<br />
                            Aksi halde,  “Çay Ocağı” için “Tea January” gibi çevirilerle karşılabilirsiniz.
                        </span><span></span>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        <span></span>
                    </p>
                    <p class="bslk" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        <b>
                            <span><h2>4. Web sitelerine bakın.</h2></span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        &nbsp;
                    </p>
                    <p class="mrg fnt" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        <span>
                            Ziya Paşa’nın şu veciz sözünü dikkate alın:<br />
                            “Ayinesi iştir kişinin lafa bakılmaz”.<br />
                            Başta kendi siteleri  özensiz  ise, sizin işinizi kaliteli teslim etmelerini beklemeyin.

                        </span>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        <span></span>
                    </p>
                    <p class="bslk" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        <b>
                            <span><h2>5. Test çevirisi yaptırın.</h2></span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="text-align: justify; mso-layout-grid-align: none;text-autospace: none">
                        &nbsp;
                    </p>
                    <p class="mrg fnt" style="text-align: justify; mso-layout-grid-align: none; text-autospace: none">
                        <span>
                            Yapılan test çevirisini inceleyin;<br />
                            Mesleki  terminolojiye  uygun mu?<br />
                            Teslim  süresi  nasıl?<br />
                            İmla  hataları var mı?<br />
                            Dokümanın mizanpajı ve görselliğinde bozulma var mı?<br />
                            <br />
                            Uzun süreli çalışma isteğinize rağmen  test çevirisi  yapmıyorsa, yeniden düşünün.

                        </span>
                    </p>
                    <p class="MsoNormal" style="text-align: justify">
                        <span></span>
                    </p>
                    <p class="bslk" style="text-align: justify">
                        <b>
                            <span><h2>6. Süreklilik ve Tutarlılık arayın.</h2></span>
                        </b>
                    </p>
                    <p class="MsoNormal" style="text-align: justify">&nbsp;</p>
                    <p class="mrg fnt" style="text-align: justify">
                        <span>
                            Bir önceki çeviriniz ile sonraki çevirinizde  aynı terimler  mi kullanılmış?<br />
                            Mümkünse her seferinde  aynı çevirmenin  çeviriyi yapmasını tercih edin.
                        </span>
                    </p>
                    <p class="MsoNormal" style="text-align: justify">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
</section>