@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Buralarda yeni misin?</h1>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="container clearfix">
            @if (@ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            }
            <div class="col_one_third nobottommargin">
                <div class="well well-lg nobottommargin">
                    <form class="login-form" id="login-form" action="/Home/SignUp" method="post" class="nobottommargin">

                        <h3>Üye girişi yap, fırsatları kaçırma!</h3>

                        <div class="col_full">
                            <label for="email">E-Posta:</label>
                            <input id="email" type="email" name="email" class="form-control" data-error=".errorTxt1">
                            <div class="errorTxt1" style="margin-left: 3rem;"></div>
                        </div>

                        <div class="col_full">
                            <label for="login-form-password">Şifre:</label>
                            <input id="password" type="password" name="password" class="form-control" data-error=".errorTxt2">
                            <div class="errorTxt2" style="margin-left: 3rem;"></div>
                        </div>

                        <div class="col_full nobottommargin">
                            <button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Giriş</button>
                            <a href="#" class="fright">Şifremi Unuttum?</a>
                        </div>

                    </form>
                </div>

            </div>

            <div class="col_two_third col_last nobottommargin">


                <h3>Hemen üye ol ve aramıza katıl!</h3>

                <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">


                    <div class="col_half">
                        <label for="register-form-name">Lütfen Üyelik Tipinizi Seçin</label>
                    </div>
                    <div class="col_half">
                        <div>
                            <input id="rbCustomerType1" class="radio-style" name="rbCustomerType" type="radio" value="customer" checked>
                            <label for="rbCustomerType1" class="radio-style-1-label">Bireysel Müşteri</label>
                        </div>
                    </div>

                    <div class="col_half col_last">
                        <input id="rbCustomerType2" class="radio-style" name="rbCustomerType" type="radio" value="company">
                        <label for="rbCustomerType2" class="radio-style-1-label">Firma, Şirket veya Çalışanı</label>
                    </div>

                    <div class="col_half">
                        <label for="name">Adınız:</label>
                        <input type="text" id="name" name="name" value="" class="form-control" />
                    </div>

                    <div class="col_half col_last">
                        <label for="surname">Soyadınız:</label>
                        <input type="text" id="surname" name="surname" value="" class="form-control" />
                    </div>

                    <div class="col_half">
                        <label for="register-form-surname">Cep Telefonunuz:</label>
                        <div class="input-group">
                            <input type="number" id="cellphone_1" name="cellphone_1" class="form-control" placeholder="500" aria-describedby="basic-addon2" maxlength="3">
                            <span class="input-group-addon" id="basic-addon2">-</span>
                            <input type="number" id="cellphone_2" name="cellphone_2" class="form-control" placeholder="000" aria-describedby="basic-addon2" maxlength="3">
                            <span class="input-group-addon" id="basic-addon2">-</span>
                            <input type="number" id="cellphone_3" name="cellphone_3" class="form-control" placeholder="00" aria-describedby="basic-addon2" maxlength="2">
                            <span class="input-group-addon" id="basic-addon2">-</span>
                            <input type="number" id="cellphone_4" name="cellphone_4" class="form-control" placeholder="00" aria-describedby="basic-addon2" maxlength="2">
                        </div>
                    </div>

                    <div class="col_half col_last">
                        <label for="email">E-Posta Adresiniz:</label>
                        <input type="email" id="email" name="email" value="" class="form-control" />
                    </div>

                    <div class="clear"></div>

                    <div class="company">
                        <div class="col_half">
                            <label for="companyId">Şirketinizi Seçiniz:</label>
                            <select id="companyId" class="form-control" name="companyId"></select>
                        </div>
                        <div class="col_half col_last compnayInfo">
                            <label for="company-name">Şirket Adı:</label>
                            <input type="text" id="company-name" name="company-name" value="" class="form-control" />
                        </div>
                        <div class="col_half compnayInfo">
                            <label for="company-VergiNumarasi">Şirket Vergi Numarası:</label>
                            <select id="company-VergiNumarasi" class="form-control" name="company-VergiNumarasi"></select>
                        </div>
                        <div class="col_half col_last compnayInfo">
                            <label for="company-VergiDairesi">Şirket Vergi Dairesi:</label>
                            <input type="text" id="company-VergiDairesi" name="company-VergiDairesi" value="" class="form-control" />
                        </div>
                        <div class="col_half compnayInfo">
                            <label for="register-form-surname">Şirket Sabit Telefon Numaranız:</label>
                            <div class="input-group">
                                <input type="number" id="company-phone_1" name="company-phone_1" class="form-control" placeholder="500" aria-describedby="basic-addon2" maxlength="3">
                                <span class="input-group-addon" id="basic-addon2">-</span>
                                <input type="number" id="company-phone_2" name="company-phone_2" class="form-control" placeholder="000" aria-describedby="basic-addon2" maxlength="3">
                                <span class="input-group-addon" id="basic-addon2">-</span>
                                <input type="number" id="company-phone_3" name="company-phone_3" class="form-control" placeholder="00" aria-describedby="basic-addon2" maxlength="2">
                                <span class="input-group-addon" id="basic-addon2">-</span>
                                <input type="number" id="company-phone_4" name="company-phone_4" class="form-control" placeholder="00" aria-describedby="basic-addon2" maxlength="2">
                            </div>
                        </div>

                        <div class="col_half col_last">
                            <label for="company-intercom">Dahili Numaranız:</label>
                            <input type="text" id="company-intercom" name="company-intercom" value="" class="form-control" />
                        </div>
                        <div class="col_half">
                            <label for="register-form-email">Şirket E-Posta Adresiniz:</label>
                            <input type="email" id="company-email" name="company-email" value="" class="form-control" />
                        </div>
                        <div class="col_half col_last">
                            <label for="company-address">Şirket Adresiniz:</label>
                            <textarea id="company-address" name="company-address" cols="46" rows="3" class="form-control" placeholder="Test"></textarea>
                            @*<textarea id="register-form-company-address" name="register-form-email" class="form-control" rows="3" cols="20" />*@
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_half">
                        <label for="register-form-password">Şifre:</label>
                        <input type="password" id="password" name="password" value="" class="form-control" />
                    </div>

                    <div class="col_half col_last">
                        <label for="register-form-repassword">Şifre Tekrar:</label>
                        <input type="password" id="repassword" name="repassword" value="" class="form-control" />
                    </div>

                    <div class="clear"></div>

                    <div class="col_full nobottommargin">
                        <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Şimdi Kaydol</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

    @section scripts{
        <script src="~/bower_components/select2/dist/js/select2.full.min.js"></script>
        <script src="~/dist/services/common.data.service.js"></script>
        <script src="~/app/pages/home/SignUp.js"></script>
    }
</section><!-- #content end -->