@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Page Title
        ============================================= -->
<section id="page-title">

    <div class="container clearfix">
        <h1>Buralarda yeni misin?</h1>
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">
        <div class="container clearfix">
            @if (@ViewBag.Error != null)
            {
                <div class="alert alert-danger" role="alert">@ViewBag.Error</div>
            }            
            <div class="col_one_third nobottommargin">
                <div class="well well-lg nobottommargin">                    
                    <form class="login-form" id="login-form" action="/Home/SignUp" method="post" class="nobottommargin">

                        <h3>Üye girişi yap, fırsatları kaçırma!</h3>

                        <div class="col_full">
                            <label for="email">E-Posta:</label>
                            <input id="email" type="email" name="email" class="form-control"  data-error=".errorTxt1">
                            <div class="errorTxt1" style="margin-left: 3rem;"></div>
                        </div>

                        <div class="col_full">
                            <label for="login-form-password">Şifre:</label>
                            <input id="password" type="password" name="password" class="form-control" data-error=".errorTxt2">
                            <div class="errorTxt2" style="margin-left: 3rem;"></div>
                        </div>

                        <div class="col_full nobottommargin">
                            <button class="button button-3d nomargin" id="login-form-submit" name="login-form-submit" value="login">Giriş</button>
                            <a href="#" class="fright">Şifremi Unuttum?</a>
                        </div>

                    </form>
                </div>

            </div>

            <div class="col_two_third col_last nobottommargin">


                <h3>Hemen üye ol ve aramıza katıl!</h3>
                                
                <form id="register-form" name="register-form" class="nobottommargin" action="#" method="post">

                    
                    <div class="col_half">
                        <label for="register-form-name">Lütfen Üyelik Tipinizi Seçin</label>
                    </div>
                    <div class="col_half">
                        <div>
                            <input id="radio-4" class="radio-style" name="radio-group-1" type="radio" checked>
                            <label for="radio-4" class="radio-style-1-label">Bireysel Müşteri</label>
                        </div>
                    </div>

                    <div class="col_half col_last">
                        <input id="radio-4" class="radio-style" name="radio-group-1" type="radio">
                        <label for="radio-4" class="radio-style-1-label">Firma, Şirket veya Çalışanı</label>
                    </div>

                    <div class="col_half">
                        <label for="register-form-name">Adınız:</label>
                        <input type="text" id="register-form-name" name="register-form-name" value="" class="form-control" />
                    </div>

                    <div class="col_half col_last">
                        <label for="register-form-surname">Soyadınız:</label>
                        <input type="text" id="register-form-surname" name="register-form-surname" value="" class="form-control" />
                    </div>

                    <div class="col_half">
                        <label for="register-form-surname">Cep Telefonunuz:</label>
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="5xx" aria-describedby="basic-addon2" maxlength="3">
                            <span class="input-group-addon" id="basic-addon2">-</span>
                            <input type="number" class="form-control" placeholder="xxx" aria-describedby="basic-addon2" maxlength="3">
                            <span class="input-group-addon" id="basic-addon2">-</span>
                            <input type="number" class="form-control" placeholder="xx" aria-describedby="basic-addon2" maxlength="2">
                            <span class="input-group-addon" id="basic-addon2">-</span>
                            <input type="number" class="form-control" placeholder="xx" aria-describedby="basic-addon2" maxlength="2">

                        </div>
                    </div>

                    <div class="col_half col_last">
                        <label for="register-form-email">E-Posta Adresiniz:</label>
                        <input type="email" id="register-form-email" name="register-form-email" value="" class="form-control" />
                    </div>

                    <div class="clear"></div>

                    <div id="divKurumsal">
                        <div class="col_half">
                            <label for="register-form-company">Şirketinizi Seçiniz:</label>
                            <select id="register-form-company" class="form-control" name="register-form-company"></select>
                        </div>
                        <div class="col_half col_last">
                            <label for="register-form-company-name">Şirket Adı:</label>
                            <input type="text" id="register-form-company-name" name="register-form-company-name" value="" class="form-control" />
                        </div>
                        <div class="col_half">
                            <label for="register-form-company-VergiNumarasi">Şirket Vergi Numarası:</label>
                            <select id="register-form-company-VergiNumarasi" class="form-control" name="register-form-company-VergiNumarasi"></select>
                        </div>
                        <div class="col_half col_last">
                            <label for="register-form-company-name">Şirket Vergi Dairesi:</label>
                            <input type="text" id="register-form-company-name" name="register-form-company-name" value="" class="form-control" />
                        </div>
                        <div class="col_half">
                            <label for="register-form-surname">Şirket Sabit Telefon Numaranız:</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="5xx" aria-describedby="basic-addon2" maxlength="3">
                                <span class="input-group-addon" id="basic-addon2">-</span>
                                <input type="number" class="form-control" placeholder="xxx" aria-describedby="basic-addon2" maxlength="3">
                                <span class="input-group-addon" id="basic-addon2">-</span>
                                <input type="number" class="form-control" placeholder="xx" aria-describedby="basic-addon2" maxlength="2">
                                <span class="input-group-addon" id="basic-addon2">-</span>
                                <input type="number" class="form-control" placeholder="xx" aria-describedby="basic-addon2" maxlength="2">
                            </div>
                        </div>

                        <div class="col_half col_last">
                            <label for="register-form-company-name">Dahili Numaranız:</label>
                            <input type="text" id="register-form-company-name" name="register-form-company-name" value="" class="form-control" />
                        </div>
                        <div class="col_half">
                            <label for="register-form-email">Şirket E-Posta Adresiniz:</label>
                            <input type="email" id="register-form-company-email" name="register-form-email" value="" class="form-control" />
                        </div>
                        <div class="col_half col_last">
                            <label for="register-form-email">Şirket E-Posta Adresiniz:</label>
                            <textarea id="Test" cols="46" rows="3" class="form-control"  placeholder="Test" name="Test"></textarea>
                            @*<textarea id="register-form-company-address" name="register-form-email" class="form-control" rows="3" cols="20" />*@
                        </div>
                    </div>

                    <div class="clear"></div>

                    <div class="col_half">
                        <label for="register-form-password">Şifre:</label>
                        <input type="password" id="register-form-password" name="register-form-password" value="" class="form-control" />
                    </div>

                    <div class="col_half col_last">
                        <label for="register-form-repassword">Şifre Tekrar:</label>
                        <input type="password" id="register-form-repassword" name="register-form-repassword" value="" class="form-control" />
                    </div>

                    <div class="clear"></div>

                    <div class="col_full nobottommargin">
                        <button class="button button-3d button-black nomargin" id="register-form-submit" name="register-form-submit" value="register">Şimdi Kaydol</button>
                    </div>

                </form>

            </div>

        </div>

    </div>

</section><!-- #content end -->