
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <title>Çeviri Dükkanı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
        .padded-tab {
            margin-top: 2rem;
        }
         .full-width {
             width: 100% !important;
         }

        .select2-container {
            width: 100% !important;
        }

        .select2-container .select2-search--inline .select2-search__field {
            width: 100% !important;
        }
    </style>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/plugins/materialize/sass/materialize.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

    <link href="~/Content/css/TranslatorSignUp.css" rel="stylesheet" />

</head>

<body>

    <div class="container z-depth-4">
        <div class="row header">
            <h1>Let's get to know you then</h1>
            <h3>So it seems you want to do a job with us..</h3>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#tab1">Membership</a></li>
                    <li class="tab col s3"><a href="#tab2">Contact</a></li>
                    <li class="tab col s3"><a href="#tab3">Ability</a></li>
                    <li class="tab col s3"><a href="#tab4">Technology</a></li>
                    <li class="tab col s3"><a href="#tab5">Payments</a></li>
                    <li class="tab col s3"><a href="#tab6">Rates</a></li>
                    <li class="tab col s3"><a href="#tab7">Test</a></li>
                </ul>
            </div>
            <div id="tab1" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="name">Name</label>
                        <input type="text" class="validate" id="name" placeholder="Name">
                    </div>
                    <div class="input-field col s6">
                        <label for="name">Surname</label>
                        <input type="text" class="validate" id="Surname" placeholder="Surname">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Email">Email address</label>
                        <input type="email" class="validate" id="email" placeholder="Email">
                    </div>
                    <div class="input-field col s6">
                        <label for="Mobile">Mobile Phone</label>
                        <input type="text" class="validate" id="mobile" placeholder="Number">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Mobile">Gender<br /></label>
                        
                        <p>
                            <input name="gender" type="radio" value="0" />
                            <label for="test1">Female</label>
                        </p>
                        <p>
                            <input name="gender" type="radio" value="1" />
                            <label for="test1">Male</label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <label for="repassword">Re-Password</label>
                        <input type="password" class="validate" id="repassword" placeholder="Re-Password">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="password">Password</label>
                        <input type="password" class="validate" id="password" placeholder="Password">
                    </div>
                    <div class="input-field col s6">
                        <label for="repassword">Re-Password</label>
                        <input type="password" class="validate" id="repassword" placeholder="Re-Password">
                    </div>
                </div>
                <div class="row">
                    <p>
                        <input type="checkbox" id="agreement" />
                        <label for="agreement">I read the agreement (türkçe sözleşme)and I accept it.</label>
                    </p>
                </div>
            </div>
            <div id="tab2" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="country">Country</label>
                        <select id="country" class="full-width"></select>
                    </div>
                    <div class="input-field col s6">
                        <label for="city">City</label>
                        <select id="city" class="full-width"></select>
                    </div>
                </div>
                <div class="row">                    
                    <div class="input-field col s6">
                        <label for="district">District</label>
                        <select id="district" class="full-width"></select>
                    </div>
                    <div class="input-field col s6">
                        <label for="postalCode">Postal Code</label>
                        <input type="text" class="validate" id="postalCode" placeholder="Postal Code">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="address">Address</label>
                        <textarea class="materialize-textarea" id="address" placeholder="Address"></textarea>
                    </div>
                    <div class="input-field col s6">
                        <label for="alternativeEmail">Alternative Email Address</label>
                        <input type="text" class="validate" id="alternativeEmail" placeholder="Postal Code">
                    </div>                    
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label for="alternativePhone1">Alternative Phone</label>
                        <input type="text" class="validate" id="alternativePhone1" placeholder="Area">
                    </div>
                    <div class="input-field col s6">
                        <label for="alternativePhone2">Alternative Phone 2</label>
                        <input type="text" class="validate" id="alternativePhone2" placeholder="Area">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="fax">Fax</label>
                        <input type="text" class="validate" id="fax" placeholder="Area">
                    </div>
                    <div class="input-field col s6">
                        <label for="skype">Skype</label>
                        <input type="text" class="validate" id="skype" placeholder="Skype">
                    </div>
                </div>
            </div>
            <div id="tab3" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="motherTongue" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <select id="tongue" class="full-width "></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="bilingualTongue" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <label for="Experience">Years of experience in translation</label>
                        <input type="text" class="validate" id="yearsOfExperience" placeholder="Years of experience in translation	">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Translation">Translation</label>
                        <input type="text" class="validate" id="translation" placeholder="Translation">
                    </div>
                    <div class="input-field col s6">
                        <label for="EnsureQuality">EnsureQuality</label>
                        <input type="text" class="validate" id="qualityEnsureDescription" placeholder="EnsureQuality">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Review">Review</label>
                        <input type="text" class="validate" id="reviews" placeholder="Review">
                    </div>
                    <div class="input-field col s6">
                        <label for="Proofreading">Proofreading</label>
                        <input type="text" class="validate" id="proofReading" placeholder="Proofreading">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Qualifications">Qualifications</label>
                        <input type="text" class="validate" id="qualifications" placeholder="Qualifications">
                    </div>
                    <div class="input-field col s6">
                        <label for="MainClients">MainClients</label>
                        <input type="text" class="validate" id="mainClients" placeholder="MainClients">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="Specialization" class="full-width"></select>
                    </div>
                </div>
            </div>
            @*<div id="tab4" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="Software" class="full-width"></select>
                    </div>
                    <div class="input-field col s6">
                        <label for="Version">Version </label>
                        <input type="text" class="validate" id="Version " placeholder="Version ">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="OperatingSystem">OperatingSystem</label>
                        <input type="text" class="validate" id="OperatingSystem" placeholder="OperatingSystem">
                    </div>
                    <div class="input-field col s6">
                        <label for="Rating">Rating</label>
                        <input type="text" class="validate" id="Rating" placeholder="Rating">
                    </div>
                </div>
            </div>*@
            <div id="tab5" class="col s12 padded-tab">
                userPayment.bankAccountId = $('#bankAccount').val();
                userPayment.vatTaxNo = $('#vatTaxNo').val();
                userPayment.currencyId = $('#currencyId').val();
                userPayment.workingTypeId = $('#workingTypeId').val();
                userPayment.minimumChargeAmount = $('#minimumChargeAmount').val();
                <div class="row">
                    <div class="input-field col s6">
                        <select id="bankAccount" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <label for="Proofreading">VAT/TAX No</label>
                        <input type="text" class="validate" id="vatTaxNo" placeholder="VAT/TAX No">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="bankAccount" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <select id="currency" class="full-width "></select>
                    </div>
                </div>

            </div>
            <div id="tab6" class="col s12 padded-tab">
                Rates
            </div>
            <div id="tab7" class="col s12 padded-tab">
                <div class="input-field col s12">
                    <label for="Test">Test</label>
                    <textarea cols="46" rows="3" class="materialize-textarea" id="Test" placeholder="Test"></textarea>
                </div>
                <div class="input-field col s12">
                    <label for="TranslationResult">TranslationResult</label>
                    <textarea cols="46" rows="3" class="materialize-textarea" id="TranslationResult" placeholder="TranslationResult"></textarea>
                </div>
                <div class="input-field col s12">
                    <a class="waves-effect waves-light btn" id="btnSave"><i class="material-icons left">done</i>Save</a>
                </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Content/plugins/materialize/js/materialize.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="~/dist/classes/ceviri.classes.js"></script>
    <script src="~/dist/services/common.data.service.js"></script>
    <script src="~/dist/pages/translator/translator.sign.up.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });
    </script>
</body>

</html>