
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <title>Çeviri Dükkanı</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
        .padded-tab {
            margin-top: 2rem;
        }
         .full-width {
             width: 100% !important;
         }

        .select2-container {
            width: 100% !important;
        }

        .select2-container .select2-search--inline .select2-search__field {
            width: 100% !important;
        }
    </style>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Content/plugins/materialize/sass/materialize.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />

    <link href="~/Content/css/TranslatorSignUp.css" rel="stylesheet" />

</head>

<body>

    <div class="container z-depth-4">
        <div class="row header">
            <h1>Let's get to know you then</h1>
            <h3>So it seems you want to do a job with us..</h3>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a href="#tab1">Membership</a></li>
                    <li class="tab col s3"><a href="#tab2">Contact</a></li>
                    <li class="tab col s3"><a href="#tab3">Ability</a></li>
                    <li class="tab col s3"><a href="#tab4">Technology</a></li>
                    <li class="tab col s3"><a href="#tab5">Payments</a></li>
                    <li class="tab col s3"><a href="#tab6">Rates</a></li>
                    <li class="tab col s3"><a href="#tab7">Test</a></li>
                </ul>
            </div>
            <div id="tab1" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="name">Name</label>
                        <input type="text" class="validate" id="name" placeholder="Name">
                    </div>
                    <div class="input-field col s6">
                        <label for="name">Surname</label>
                        <input type="text" class="validate" id="Surname" placeholder="Surname">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Email">Email address</label>
                        <input type="email" class="validate" id="Email" placeholder="Email">
                    </div>
                    <div class="input-field col s6">
                        <label for="Mobile">Mobile Phone</label>
                        <input type="text" class="validate" id="Mobile" placeholder="Number">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="password">Password</label>
                        <input type="password" class="validate" id="password" placeholder="Password">
                    </div>
                    <div class="input-field col s6">
                        <label for="repassword">Re-Password</label>
                        <input type="password" class="validate" id="repassword" placeholder="Re-Password">
                    </div>
                </div>
                <div class="row">
                    <p>
                        <input type="checkbox" id="agreement" />
                        <label for="agreement">I read the agreement (türkçe sözleşme)and I accept it.</label>
                    </p>
                </div>
            </div>
            <div id="tab2" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="country" class="full-width"></select>
                    </div>
                    <div class="input-field col s6">
                        <select id="City" class="full-width"></select>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="name">Address</label>
                        <textarea class="materialize-textarea" id="Address" placeholder="Address"></textarea>
                    </div>
                    <div class="input-field col s6">
                        <label for="Postal">Postal Code</label>
                        <input type="text" class="validate" id="Postal" placeholder="Postal Code">
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <label for="Alternative">Alternative  Phone</label>
                        <input type="text" class="validate" id="Alternative" placeholder="Area">
                    </div>
                    <div class="input-field col s6">
                        <label for="Alternative2">Alternative Phone 2</label>
                        <input type="text" class="validate" id="Alternative2" placeholder="Area">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Fax">Fax</label>
                        <input type="text" class="validate" id="Fax" placeholder="Area">
                    </div>
                    <div class="input-field col s6">
                        <label for="Skype">Skype</label>
                        <input type="text" class="validate" id="Skype" placeholder="Skype">
                    </div>
                </div>
            </div>
            <div id="tab3" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="Nationality" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <select id="Nationality2" class="full-width "></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="MotherTongue" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <select id="Tongue" class="full-width "></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Experience">Experience</label>
                        <input type="text" class="validate" id="Experience" placeholder="Experience">
                    </div>
                    <div class="input-field col s6">
                        <label for="CompanyName">CompanyName - For Freelance</label>
                        <input type="email" class="validate" id="CompanyName" placeholder="Company Name">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select id="TimeZone" class="full-width "></select>
                    </div>
                    <div class="input-field col s6">
                        <select id="WorkingDays" class="full-width"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="WorkingHours">Working Hours</label>
                        <input type="text" class="validate" id="WorkingHours" placeholder="WorkingHours">
                    </div>
                    <div class="input-field col s6">
                        <label for="Translation">Translation</label>
                        <input type="text" class="validate" id="Translation" placeholder="Translation">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Review">Review</label>
                        <input type="text" class="validate" id="Review" placeholder="Review">
                    </div>
                    <div class="input-field col s6">
                        <label for="Proofreading">Proofreading</label>
                        <input type="text" class="validate" id="Proofreading" placeholder="Proofreading">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="EnsureQuality">EnsureQuality</label>
                        <input type="text" class="validate" id="EnsureQuality" placeholder="EnsureQuality">
                    </div>
                    <div class="input-field col s6">
                        <label for="AdditionalInfo">AdditionalInfo</label>
                        <input type="text" class="validate" id="AdditionalInfo" placeholder="AdditionalInfo">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Qualifications">Qualifications</label>
                        <input type="text" class="validate" id="Qualifications" placeholder="Qualifications">
                    </div>
                    <div class="input-field col s6">
                        <label for="MainClients">MainClients</label>
                        <input type="text" class="validate" id="MainClients" placeholder="MainClients">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="Associations">Associations</label>
                        <input type="text" class="validate" id="Associations" placeholder="Associations">
                    </div>
                    <div class="input-field col s6">
                        <select id="Specialization" class="full-width"></select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="WebSite">WebSite</label>
                        <input type="text" class="validate" id="WebSite" placeholder="WebSite">
                    </div>
                    <div class="input-field col s6">
                        <label for="IntroduceYourself">IntroduceYourself</label>
                        <input type="text" class="validate" id="IntroduceYourself" placeholder="IntroduceYourself">
                    </div>
                </div>
            </div>
            <div id="tab4" class="col s12 padded-tab">
                <div class="row">
                    <div class="input-field col s6">
                        <select id="Software" class="full-width"></select>
                    </div>
                    <div class="input-field col s6">
                        <label for="Version">Version </label>
                        <input type="text" class="validate" id="Version " placeholder="Version ">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <label for="OperatingSystem">OperatingSystem</label>
                        <input type="text" class="validate" id="OperatingSystem" placeholder="OperatingSystem">
                    </div>
                    <div class="input-field col s6">
                        <label for="Rating">Rating</label>
                        <input type="text" class="validate" id="Rating" placeholder="Rating">
                    </div>
                </div>
            </div>
            <div id="tab5" class="col s12 padded-tab">
                Payment
            </div>
            <div id="tab6" class="col s12 padded-tab">
                Rates
            </div>
            <div id="tab7" class="col s12 padded-tab">
                <div class="input-field col s12">
                    <label for="Test">Test</label>
                    <textarea cols="46" rows="3" class="materialize-textarea" id="Test" placeholder="Test"></textarea>
                </div>
                <div class="input-field col s12">
                    <label for="TranslationResult">TranslationResult</label>
                    <textarea cols="46" rows="3" class="materialize-textarea" id="TranslationResult" placeholder="TranslationResult"></textarea>
                </div>
                <div class="input-field col s12">
                    <input type="button" id="btnSave" value="Save" class="waves-effect waves-light btn"/> 
                </div>
        </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="~/Content/plugins/materialize/js/materialize.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="~/dist/classes/ceviri.classes.js"></script>
    <script src="~/dist/services/common.data.service.js"></script>
    <script src="~/dist/pages/translator/translator.sign.up.js"></script>
    <script>
        $(document).ready(function () {
            $('ul.tabs').tabs();
        });
    </script>
</body>

</html>