
@{
    ViewBag.Title = "TranslatingOffice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "Çeviri Bürosu", SubTitle = "Neden Çeviri Bürosu" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">

                    <h3 style="font-size: 18px">Çeviri Bürosu gereksinimi</h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Adeta global bir köy hatta global bir hane haline gelen, herkesin tüm dünya ile iletişim halinde olduğu çağımızda, iletişim belki de pek konudan öne çıkan bir unsur haline gelmiş durumda. Öncelikle iletişim için kullanılan kanallar ve   iletişimin doğru şekilde yapılması da iletişimin kendi içindeki önemli unsurlarından.<br />
                        <br />
                        Neredeyse her saniye her yerle, herkesle bağlantılı hale geldiğimiz günümüzde, farklı ülkeler arasında ya da aynı ülkede olsa bile farklı dili konuşan insanlar arasında iletişim kurmak söz konusu olduğunda, <u><strong><a href="https://www.ceviridukkani.com/Tercume">tercüme</a></strong></u> ve <strong>çeviri</strong> bu iletişimin bel kemiğini oluşturuyor.
                        <br />
                        <br />
                        Sağlıklı bir iletişimin başlaması ve devam etmesi sürecinde, ilk diyaloğun kendine has parametreleri mevcut fakat bir süre sonra; ilk anlaşma, ilk satış, ilk teslimat gibi unsurlar yerini; iletişimin başlamasına sebep olan  asıl sosyal ve ticari etmenlere bırakıyor. <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none">Hukuk, sağlık, spor, otomotiv, inşaat, bilim, pazarlama, mühendislik, turizm, gıda gibi pek çok alana yayılmış olan bu iletişim</span>in doğru bir şekilde ve kendini geliştirerek tekrar etmesi gerekiyor ki sosyal ve ticari bağlantılar sürsün. Yani sadece &quot;Merhaba biz dostuz&quot; demek yetmiyor. Sonrası ve devamlılığı gerekiyor.<br />
                    </p>

                    <br />
                    <img src="images/ceviri-burosu.jpg" width="633" height="215" alt="Süreklilik için Çeviri Bürosu" /><br />
                    <br />

                    <h3><strong>Süreklilik için: Çeviri Bürosu</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Bireysel çevirmenlik işlerinde çeviri süreci ilgili tercümanın şahsına bağlı olarak devam ettiği için, çoğu zaman yaptıkları işin sürekliliğini düşünen özel ve tüzel kişiler için sürdürülebilirlik anlamında bu tip bir çalışma şekli risk teşkil etmektedir. Devam eden bir hukuk süreci, ihale görüşmeleri, siyasi anlaşmalar vb. pek çok konudan örnek verebileceğimiz ve sadece bir kez olan değil belki yıllar boyunca devam eden süreçlerde, tek bir tercümana bağlı çalışıyorsanız, bu kişi ile ilgili şahsi herhangi olumsuz bir durumda yapageldiğiniz işler birden aksayacak, zaman ve ekonomik olarak hayli yüksek maliyetlere neden olabilecektir.
                        <br />
                        <br />
                        Bu bağlamda; farklı diller arasında süreklilik arz eden iletişim biçimleri için, bireysel kişilerdense kurumsal kimliğe sahip, sektöre hakim, <strong>tecrübeli bir kurumsal firma</strong> ile çalışmak daha sağlıklı olacaktır. Bu size;<br />
                        * Olası şahsi aksiliklerde hazırdaki tercüman kadrosu ile çalışmaya devam edebilme  imkanı sağlayacaktır.
                        <br />
                        * Bazen bireyselde yaşanan ulaşılamama gibi durumlar yerine karşınızda her an bir muhatap bulabilme olanağı sağlayacaktır.<br />
                        <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                            * Hızlı ve acil çeviri ihtiyaçlarınız olduğunuzda, çok sayıda tercümanın bir araya gelerek işinizi ivedi bir şekilde bitirmesi mümkün olur.<br />
                            * Freelance çalışan tercümanların bazılarında mesai kavramı olmadığı için yaşadığınız mesai saati içinde çalışmıyor olma sorunu yaşamazsınız.<br />
                            * Sabit telefon ve fiziksel adres üzerinden ulaşabilirsiniz.
                        </span>
                        <br />
                        * Birden fazla dilin tercümesi gerektiği durumlarda, tek bir merkezden tercümenin yapılması içeriklerinizin bütünlüğü için daha faydalı olacaktır.<br />
                        Bir gün ya da birkaç kez değil yıllarca çalışabilirsiniz.
                    </p>

                    <h3><strong>Peki biz?</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                        Biz ise şimdilerde ideal <em><strong>çeviri bürosu</strong></em> anlayışını bir tık öteye taşıdık.<br />
                        <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none">1998'den <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none">bu yana devam eden &quot;sürekli kalite&quot;</span> anlayışımızı,</span> <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none">
                            teknoloji ile birleştirerek<br />
                            <span class="fnt" style="mso-layout-grid-align: none; text-autospace: none"><span class="fnt" style="mso-layout-grid-align: none; text-autospace: none"><strong><u><a href="https://www.ceviridukkani.com/">Çevir Dükkanı</a></u></strong> adresinden </span></span>Türkiye'ye sunmanın sevincini yaşıyoruz.<br />
                            <br />
                        </span>
                        <br />
                        <br />
                    </p>


                </div>
            </div>
        </div>
    </div>
</section>