
@{
    ViewBag.Title = "TurkishTranslation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12">
                    @{Html.RenderAction("InnerTopBar", "Partials", new { header = "Türkçe Çeviri", SubTitle = "Doğru Türkçe Çeviri" }); }
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 norightpadding">
                    @{Html.RenderAction("InnerLeftMenu", "Partials"); }
                </div>
                <div class="col-md-9">
                    <h3 style="font-size:18px">Türkçe Çeviri için önce Türkçeye hakim olmak</h3>
                    <p class="fnt" style="mso-layout-grid-align:none;text-autospace:none">

                        Bazı konuşmalarda şöyle bir cümle duyuyoruz: "<em>Bunun Türkçede tam karşılığı yok</em>". Bu tür bir cümle geçtiğinde kelimeler üzerine odaklanarak konuşmanın devamını dinlediğinizde, konuşmacının ifade etmek isteği şeyin aslında Türkçede karşılığı olduğunu görebilirsiniz. Belki bazı durumlarda tek telime ile değil de iki üç kelime ifade ediliyor olabilir. Ancak çoğu zaman bir karşılık bulmak mümkündür. O halde bu tür olaylarda sıkıntının kaynağı ile ilgili olarak; <em>mesele, sözcüklerin Türkçede karşılığının olmaması değil, ilgili kişinin tam anlamıyla Türkçeye vakıf olmamasıdır</em> denilebilir.<br>
                        <br>
                        Yaşayan diller çerçevesinde konuya bakacak olursak, bir kelimenin herhangi başka bir dilde gerçekten karşılığı yoksa; dil, iki tercihten birisi yapar: Birebir kullanmak ya da alternatif üretmek. Burada dillerin kesişim noktasında bulunan kurumlar veya kişiler kelimeyi birebir kullanmayıp yeni bir kelime önerdiklerinde yine iki seçenek vardır: Çoğunluk kitle tarafından kabul görmesi ya da zamanla kaybolup gitmesi. <br>
                        <br>
                        Bir kaç örnek vermek gerekirse; Computer, Euro, Tsunami...<br>
                        <br>
                        <strong>Computer</strong> kelimesi 2. Dünya Savaşı yıllarında Enigma şifrelerini çözmek üzere bir makina geliştiren <u><a href="https://www.youtube.com/watch?v=-yjhvFbxzmA" target="_blank">Alan Turing</a></u> öncesinde var olan bir kelime değildi. Haliyle pek çok dile bu şekilde girdi. Ancak Türkçede gerçeği kadar anlamlı <u><a href="http://www.milliyet.com.tr/2005/03/06/pazar/paz02.html" target="_blank"><em>bilgisayar kelimesi</em></a></u> ile hayat buldu.<br>
                        <br>
                        Avrupa birliği öncesi  <strong>Euro</strong> adında bir para birimi yoktu. Euro kelimesi çok hızlı bir şekilde Türkiye dahil pek çok ülkede günlük hayatta yerini aldı. Bununla beraber <span class="fnt" style="mso-layout-grid-align:none;text-autospace:none"><span class="fnt" style="mso-layout-grid-align:none;text-autospace:none">3 yıl gibi hayli geç bir süre sonra</span> Türk Dil Kurumu </span> karşılık olarak "Avro"yu önerdi. Halen resmi kurumlarda Avro kullanıyor olsa da <span class="fnt" style="mso-layout-grid-align:none;text-autospace:none">halk arasında Avro'dan çok Euro'nun kullanılması, Avro'nun zamanla kaybolacağının göstergesi olabilir.</span><br>
                        <br>
                        <strong>Tsunami</strong> kelimesi ise Türkçe dahil tüm dünya dillerine birebir girmiş bir kelime.<br>
                        <br>
                        Toparlayacak olursak; yukarıdaki örneklerde de olduğu gibi bazı kelimenin karşılığının gerçekten olmadığı durumlar elbette ki olabilir. Ancak çoğu zaman, <span class="fnt" style="mso-layout-grid-align:none;text-autospace:none"><span class="fnt" style="mso-layout-grid-align:none;text-autospace:none">nadir kullanılan bir kelime olsa bile, </span>anlatılmak istenilen şeyi anlatan karşılıklar genelde mevcuttur.</span><br>
                        <br>
                        <br>
                        <a href="https://twitter.com/lugat365" target="_blank"><img border="0" style="border:0" alt="Türkçe çeviri yaparken kelimeler" src="images/turkce-ceviri-kekre-muallak.jpg" width="633" height="215"></a><br>
                    </p>
                    <h3><strong>Profesyonel İşleriniz İçin Türkçe Çeviri Büroları</strong></h3>
                    <p class="fnt" style="mso-layout-grid-align:none;text-autospace:none">
                        Şayet uluslararası bir firmanın Türkiye temsilciliğini yapıyor ya da ürünlerini satıyorsanız öncelikle iletişimde herhangi bir hata yaşanmaması için önemli evraklarınızın çevirisinde yılların deneyimli <u><strong><a href="http://ceviridukkani.com/Ceviri-Burosu">çeviri bürolarını</a></strong></u> tercih etmeniz, şirketiniz için sağlıklı bir tercih olacaktır. <br>
                        <br>
                        Benzer şekilde ithal ettiğiniz ürünlerin özelliklerinin, hem şirket çalışanlarınız hem de son tüketiciler tarafından iyi anlaşılması için, akıcı ve hatasız <strong>Türkçe çevirilerinin</strong> yapılmış olması lazım. Zira insanlar bir şey hakkında ne kadar çok doğru bilgi edinirlerse kendilerini o şeye karşı daha yakın hissederler. Bu sizin piyasaya sunduğuz bir ürünse, bir kelimesini bile anlamadıkları yabancı dilde bir kullanım kılavuzu ya da Türkçe ama hiçbir şey anlaşılmıyorsa, o ürünle ilgili geri dönüş alamayacaksınız demektir. <br>
                        <br>
                        <em>"Türkçe ama..."</em> demişken... :)<br>
                        <br>
                        <iframe width="580" height="315" src="https://www.youtube.com/embed/DbqoHVdFBTU" frameborder="0" allowfullscreen=""></iframe>
                        <br>
                        <br>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>