<?xml version="1.0"?>
<appSettings>
  <add key="SystemEndpoint" value="http://localhost:8001/"/>
  <add key="OMSEndpoint" value="http://localhost:8002/"/>
  <add key="DMSEndpoint" value="http://localhost:8003/"/>
  <add key="TSEndpoint" value="http://localhost:8004/"/>
  <add key="MailEndpoint" value="http://localhost:8005/"/>
  <add key="IntegrationEndpoint" value="http://localhost:8006/"/>
</appSettings>