<!DOCTYPE html>

<html>
<head>

    <link rel="icon" href="~/Areas/Admin/Theme/images/favicon/favicon.ico" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Theme/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="images/favicon/mstile-144x144.png">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="Description" content="Türkiye'nin ilk online çeviri platformu. Profesyonel tercümanlardan 15 dilde kaliteli çeviri hizmeti. Dosyanı yükle,fiyat ve teslim tarihini gör,işi bize bırak!" />
    <title>Çeviri Dükkanı - Ana Dillerde Kaliteli Çeviri Hizmeti</title>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/swiper.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/Content/css/responsive.css" type="text/css" />

    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->


</head>
<body>
    <div id="wrapper" class="clearfix">
        <header id="header" class="full-header">

            <div id="header-wrap">

                <div class="container nomargin nopadding clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="/Content/images/logo-yeni.png"><img src="~/Content/images/logo-yeni.png" alt="Çeviri Dükkanı Logo"></a>
                        <a href="/" class="retina-logo" data-dark-logo="/Content/images/logo-yeni.png"><img src="~/Content/images/logo-yeni.png" alt="Çeviri Dükkanı Logo"></a>
                    </div>
                    <nav id="primary-menu">

                        @{Html.RenderAction("UserMenu", "Common");}

                    </nav>
                </div>
            </div>
        </header><!-- #header end -->

        @RenderBody()

        <footer id="footer" class="dark">

            <div class="container">
                <!-- Footer Widgets
                ============================================= -->
                <div class="footer-widgets-wrap bottompadding-xs toppadding-xs clearfix">

                    <div class="col_one_fifth">
                        <div class="widget widget_links clearfix">

                            <ul>
                                <li><a href="/">Ana Sayfa</a></li>
                                <li><a href="/Kaliteli-Ceviri">Kaliteli Çeviri</a></li>
                                <li><a href="/Banka-Hesap-Bilgileri">Banka Hesap Bilgileri</a></li>
                                <li><a href="/Profesyonel-Ceviri">Profesyonel Çeviri</a></li>
                                <li><a href="/Turkce-Ceviri">Türkçe Çeviri</a></li>

                            </ul>

                        </div>
                    </div>
                    <div class="col_one_fifth">
                        <div class="widget widget_links clearfix">

                            <ul>
                                <li><a href="/Hakkimizda">Çeviri Dükkanı Hakkında</a></li>
                                <li><a href="/Uye-Ol">Üye Ol</a></li>
                                <li><a href="/Tercume">Tercüme</a></li>
                                <li><a href="/Turkce-Ingilizce-Ceviri">Türkçe İngilizce Çeviri</a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col_one_fifth">
                        <div class="widget widget_links clearfix">

                            <ul>
                                <li><a href="/Nasil-Calisiyor">Nasıl Çalışıyor</a></li>
                                <li><a href="/Hizmet-Sozlesmesi#iptal">İptal ve İade Koşulları</a></li>
                                <li><a href="/Ceviri-Burosu">Çeviri Bürosu</a></li>
                                <li><a href="/Ingilizce-Turkce-Tercume">İngilizce Türkçe Tercüme</a></li>

                            </ul>

                        </div>
                    </div>
                    <div class="col_one_fifth">
                        <div class="widget widget_links clearfix">

                            <ul>
                                <li><a href="/Uye-Girisi">Üye Girişi</a></li>
                                <li><a href="/Hizmet-Sozlesmesi">Hizmet Sözleşmesi</a></li>
                                <li><a href="/Ceviri-Yaptir">Çeviri Yaptır</a></li>
                                <li><a href="/Dil-Cevirisi">Dil Çevirisi</a></li>

                            </ul>

                        </div>
                    </div>
                    <div class="col_one_fifth col_last">
                        <div class="widget widget_links clearfix">

                            <ul>
                                <li><a href="/iletisim">İletişim</a></li>
                                <li><a href="/Guvenlik-ve-Gizlilik">Güvenlik ve Gizlilik</a></li>
                                <li><a href="/Hizli-Ceviri">Hızlı Çeviri</a></li>
                                <li><a href="/Ingilizce-Ceviri">İngilizce Çeviri</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- .footer-widgets-wrap end -->
            </div>

            <!-- Copyrights
            ============================================= -->
            <div id="copyrights nobottommargin">

                <div class="container clearfix nobottommargin">


                    <div class="col_one_fifth nobottommargin">
                        <div class="widget clearfix">
                            <img src="~/Content/images/logo_kucuk.png" alt="" class="footer-logo">
                        </div>
                    </div>
                    <div class="col_two_fifth nobottommargin">
                        <div class="widget clearfix">
                            <div>
                                <address>
                                    Dr.Kemal Akgüder Cad. Kurukaya Sk.<br>
                                    Koç Apt. No:5/B - Bostancı / İSTANBUL<br>
                                </address>
                                <abbr title="Phone Number"><strong>Phone:</strong></abbr> 444 0 671 | +90 216 362 6 362 | +90 216 362 6 369<br>
                            </div>
                        </div>
                    </div>
                    <div class="col_two_fifth nobottommargin col_last">
                        <img src="/Content/images/visa-master-american.png" />
                    </div>

                </div>

            </div><!-- #copyrights end -->

        </footer><!-- #footer end -->

    </div>
    <div id="gotoTop" class="icon-angle-up"></div>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/js/functions.js"></script>
    <script src="~/dist/classes/ceviri.classes.js"></script>
    <script src="~/dist/classes/util.js"></script>
    <script src="~/dist/services/common.data.service.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
