<div class="siteharitasi_tasiyici">
    <div class="siteharitasi ortala">
        <ul>
            <li><a href="/">Ana Sayfa</a></li>
            <li><a href="/Hakkimizda">Çeviri Dükkanı Hakkında</a></li>
            <li><a href="/Nasil-Calisiyor">Nasıl Çalışıyor</a></li>
            <li><a href="/Uye-Girisi">Üye Girişi</a></li>
            <li><a href="/iletisim">İletişim</a></li>
            <li><a href="/Kaliteli-Ceviri">Kaliteli Çeviri</a></li>
            <li><a href="/Uye-Ol">Üye Ol</a></li>
            <li><a href="/Hizmet-Sozlesmesi#iptal">İptal ve İade Koşulları</a></li>
            <li><a href="/Hizmet-Sozlesmesi">Hizmet Sözleşmesi</a></li>
            <li><a href="/Guvenlik-ve-Gizlilik">Güvenlik ve Gizlilik</a></li>
            <li><a href="/Banka-Hesap-Bilgileri">Banka Hesap Bilgileri</a></li>
            <li><a href="/Tercume">Tercüme</a></li>
            <li><a href="/Ceviri-Burosu">Çeviri Bürosu</a></li>
            <li><a href="/Ceviri-Yaptir">Çeviri Yaptır</a></li>
            <li><a href="/Hizli-Ceviri">Hızlı Çeviri</a></li>
            <li><a href="/Profesyonel-Ceviri">Profesyonel Çeviri</a></li>
        </ul>
    </div>
</div>

<div class="clear"></div>
<div class="altbar_tasiyici">
    <div class="altbar ortala">
        <img src="~/Content/images/logo_kucuk.png" align="left" />
        <div style="margin-top: 15px; width: 450px; float: left; margin-left: 15px; color: #fff;">
            Dr.Kemal Akgüder Cad. Kurukaya Sk. Koç Apt. No:5/B - Bostancı / İSTANBUL<br />
            444 0 671 | +90 216 362 6 362 | +90 216 362 6 369
        </div>
        <div style="float: right; margin-top: 15px">
            <img src="~/Content/images/visa-master-american.png" alt="visa master american express" border="0" />
        </div>
    </div>
</div>
