

<ul>
    <li class="current">
        <a href="/"><div>ANASAYFA</div></a>
    </li>
    <li>
        <a href="#yeniis"><div>ÇEVİRİNİ BAŞLAT</div></a>
    </li>
    <li>
        <a href="/Hakkimizda"><div>HAKKIMIZDA</div></a>
    </li>
    <li>
        <a href="/Nasil-Calisiyor"><div>TANITIM VİDEOMUZ</div></a>
    </li>
    <li>
        <a href="/blog"><div>BLOG</div></a>
    </li>
    <li>
        <a href="/iletisim"><div>İLETİŞİM</div></a>
    </li>
    <li class="pull-right">
        <img src="/Content/images/telefon_widget.png" alt="Çeviri Dükkanı Telefonu" width="168" height="40">
    </li>
</ul>
