@{
    Layout = null;
}



<div class="list-group">
    <a href="Kaliteli-Ceviri" class="list-group-item clearfix">Kaliteli Çeviri <i class="icon-user pull-right"></i></a>
    <a href="Guvenlik-ve-Gizlilik" class="list-group-item clearfix">Güvenlik ve Gizlilik <i class="icon-laptop2 pull-right"></i></a>
    <a href="Banka-Hesap-Bilgileri" class="list-group-item clearfix">Banka Hesap Bilgileri <i class="icon-envelope2 pull-right"></i></a>
    <a href="Hizmet-Sozlesmesi#iptal" class="list-group-item clearfix">İptal ve İade Koşulları <i class="icon-credit-cards pull-right"></i></a>
    <a href="Hizmet-Sozlesmesi" class="list-group-item clearfix">Hizmet Sözleşmesi <i class="icon-cog pull-right"></i></a>
</div>