@{
    ViewBag.Title = "Terminoloji Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section breadcrumbs{
    <div id="breadcrumbs-wrapper">
        <!-- Search for small screen -->
        <div class="header-search-wrapper grey hide-on-large-only">
            <i class="mdi-action-search active"></i>
            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
        </div>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <h5 class="breadcrumbs-title">Terminoloji Listesi</h5>
                    <ol class="breadcrumbs">
                        <li>
                            <a href="/Admin/Home">Anasayfa</a>
                        </li>
                        <li class="active">Terminoloji Listesi</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
<div class="section">
    <p class="caption">Terminoloji Listesi görüntülenmektedir.</p>
    <div class="divider"></div>
    <div class="section">
        <div class="row">
            <div class="col s12 m12 l12">
                <div id="terminologyListGrid"></div>

            </div>
        </div>
    </div>

</div>

@section scripts{
    <script data-main="/Areas/Admin/Scripts/app/page-scripts/common/terminology.manage.page.js" src="~/Scripts/require.js"></script>
}

